#form-questions #add-question,
#form-questions .add-question-answer {
    margin-right: 5px;
}

#form-questions .inline-flex {
    display: inline-flex;
    height: 20px;
    line-height: 20px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0;
}

#form-questions .question {
  margin-top: 30px;
}

#form-questions .question span.title{
    margin-bottom: 5px;
    display: block;
}

#form-questions .inline-flex button {
    margin-left: 5px;
}

#form-questions .question .question-answers {
    margin-left: 89px;
}

#form-questions .question .question-answers .answer {
    margin-bottom: 10px;
}

#form-questions .question .question-answers .answer input {
    width: 50%;
}

#form-questions .question .question-answers #add-question-answer {
    margin-right: 5px;
}
