<h1>Пользовательское соглашение</h1>

{$disclaimer.text|escape}
<p>&nbsp;</p>
{if $disclaimer.status == 0}
<form action="?module=cp&action=disclaimer-accept" method="post" enctype="multipart/form-data" name="accept">
	<button type="submit">Подтвердить соглашение</button>
</form>
{/if}
