#banners_list td {
	padding: 5px 5px 20px 5px;
	vertical-align: top;
	text-align: center;
	width: 33%;
}
.banner_item {	border: 3px solid #E7E7E7; }
#banners_list td .item { margin: 3px 0 2px 0; }





