body {
	margin: 0px;
	padding: 0;
	height: 100%;
	text-align: center;	
	background: #B9CDE2 url(/i/bg_global.jpg) repeat-x;
	font: 11px Arial, Helvetica, sans-serif;
	color: #333333;
}
a:link { color: black; text-decoration: underline; }
a:visited { color: black; text-decoration: underline; }
a:hover { color: black; text-decoration: none; }

img.png { behavior: url(/i/png.htc); }

#container {
	position: relative;
	width: 600px;
	padding: 20px 20px 30px 20px;
	margin: 10px auto;	
	text-align: left;
	background-color: #DAD9D9;
	border: 1px solid #354268;
}

/* registration */

.spacer  {
	background-color: #5D5D5D;
	overflow: hidden;
	margin: 10px 0;
	height: 1px;
}

h1 {
	font-size: 240%;
	color: black;
	line-height: 1.1em;
	font-weight: normal;
	margin: 0 0 -3px 0;	
}

h2 {
	font-size: 160%;
	line-height: 1.1em;
	font-weight: normal;
	margin: 0;	
}


.account_type {
	margin: 10px 20px 15px 20px;
	background-color: #EFEFEF;
	padding: 15px;
	border: 1px solid #B0B0B0;
}
.account_type dd { margin: 10px 0 0 25px;  }
#descr {	font-style: italic; margin-top: 2px; }
#register { margin: 0;	padding: 0; }
#register table {	width: 100%; margin-top: 20px; }
#register table td { border-top: 1px solid #B0B0B0; }
#login_message, #captcha_message { font-size: 85%;	color: #9D0000; }
#reg_message {
	text-align: center;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #EfEfEf;
	width: 420px;
	border: 1px solid #B0B0B0;
}

#disclaimer_text {
	height: 150px;
	border: 1px solid gray;
	overflow: scroll;
	margin: 3px 0 20px 0;
	padding: 5px;
	background-color: white;
}

.f_incorrect { border: 3px solid red; } 

