body {
	margin: 0px;
	padding: 0;
	height: 100%;
	text-align: center;	
	background: #B9CDE2 url(/i/bg_global.jpg) repeat-x;
	font: 11px Arial, Helvetica, sans-serif;
	color: #333333;
}
a:link { color: black; text-decoration: underline; }
a:visited { color: black; text-decoration: underline; }
a:hover { color: black; text-decoration: none; }

img.png { behavior: url(/i/png.htc); }

#container {
	position: relative;
	width: 600px;
	padding: 20px 20px 30px 20px;
	margin: 10px auto;	
	text-align: left;
	background-color: #DAD9D9;
	border: 1px solid #354268;
}

/* remember */
.spacer  {
	background-color: #5D5D5D;
	overflow: hidden;
	margin: 10px 0;
	height: 1px;
}

h1 {
	font-size: 240%;
	color: black;
	line-height: 1.1em;
	font-weight: normal;
	margin: 0 0 -3px 0;	
}

#remember { margin: 0;	padding: 0; }
#remember table { width: 100%; margin-top: 10px; }
#remember table td { border-top: 1px solid #B0B0B0; }
#err_message, #captcha_message { font-size: 85%; color: #9D0000; }


.message {
	text-align: center;
	margin: 20px auto 0px auto;
	padding: 10px 20px;
	background-color: #EfEfEf;
	width: 450px;
	border: 1px solid #B0B0B0;
}

.f_incorrect { border: 3px solid red; } 

