body {
	margin: 0px;
	padding: 0px;	
	background: #B9CDE2 url(/i/bg_global.jpg) repeat-x;
	font: 11px Arial, Helvetica, sans-serif;
}

img { border: none; }

#main {
	border-left: 1px solid #18346C;
	border-right: 1px solid #18346C;
	border-bottom: 1px solid #18346C;
	background-color: White;
}

/* enter page */

#enter {
	border: 1px solid #354268;
	margin-top: 50px;
	background-color: #DAD9D9;
}

#enter button {
	padding: 5px 10px 5px 10px;
	font: bold 11px Arial, Helvetica, sans-serif;
	background-image: url(/i/bg_btn.gif);
	cursor: hand;
}

#header-enter {
	background-image: url(/i/bg_header_gray.gif);
	background-repeat: repeat-x;	
	height: 85px;
	width: 370px;
	vertical-align: middle;
	text-align: center;
}

#auth-message {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #354268;
	margin-top: 20px;
	background-color: #DAD9D9;
	font-weight: bold;
	padding: 7px;
}

.enter-link:link, .enter-link:visited { color: black; text-decoration: underline; }
.enter-link:hover { color: black; text-decoration: none; }
.enter-link span { font-size: 120%; }



/* header */

#header {
	background-image: url(/i/bg_header_gray.gif);
	background-repeat: repeat-x;	
	height: 94px;
	vertical-align: top;
}

#panel-top {
	width: 990px;
	height: 21px;
	background: url(/i/panel_top.gif) no-repeat right;
	text-align: right;
	padding-top: 4px;
	z-index: 1;
}
#panel-top li {
	list-style: none outside;
	display: inline;
	margin: 0px 15px 0px 0px;
}

#logo {
	position: relative;
	margin: -10px 0px 0px 30px;
}

#siteurl {
	position: relative;
	margin-top: -37px;
	margin-right: 13px;
	color: #3057A9;
	float: right;
	font: bold 22px Arial, Helvetica, sans-serif;
}

#mpanel {
	background: #345CAF url(/i/mpanel_corner.gif) no-repeat;
	height: 16px;
	padding-left: 20px;
	padding-top: 3px;
	font: 10px Tahoma;
	color: White;
}

/* actions */

#actions {	
	display: inline;
	float: right;
	height: 27px;
	padding: 8px 10px 0px 10px;	
	background-color: #EAEAEA;
	border-top: 5px solid #F4A703;
}

#actions-end {
	float: right;
}

.action-item {
	font: 12px Arial, Helvetica, sans-serif;
	list-style: none inside;
	display: inline;
	padding-right: 13px;
}
.action-item a:link { color: #0F65C4;  text-decoration: underline; }
.action-item a:visited { color: #0F65C4;  text-decoration: underline; }
.action-item a:hover { color: #0F65C4;  text-decoration: none; }




/* menu */

#menu-header {
	background: url(/i/menu_header.gif) no-repeat;
	width: 250px;
	height: 24px;
	padding-top: 13px;
	font-size: 12px;
	font-weight: bold;
	color: White;
	text-align: center;
}

#menu-box {
	background: url(/i/bg_menu.gif) repeat-y;
}

#menu {
	width: 197px;
	padding: 25px 15px 40px 20px;
}

.menu-item {
	padding-left: 25px;
	background-image: url(/i/icons/icon_null.gif);
	background-repeat: no-repeat;	
	font: bold 14px Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
	color: #555555;
}
.menu-item a:link { color: #345CAF;  text-decoration: none; }
.menu-item a:visited { color: #345CAF;  text-decoration: none; }
.menu-item a:hover { color: #345CAF;  text-decoration: none; }
.menu-item a span { color: #555555; }

#menu .admin-item a:link { color: #BB0000; text-decoration: none; }
#menu .admin-item a:visited { color: #BB0000; text-decoration: none; }
#menu .admin-item a:hover { color: #BB0000; text-decoration: none; }



.menu-subitems {
	font: 11px Arial, Helvetica, sans-serif;
	margin: 0px 0px 20px 30px;
	display: none;
}
.menu-subitems a:link { color: #345CAF;  text-decoration: none; }
.menu-subitems a:visited { color: #345CAF;  text-decoration: none; }
.menu-subitems a:hover { color: #345CAF;  text-decoration: underline; }

.menu-subitems li {	
	padding-left: 10px;
	list-style: none outside;
	background: url(/i/submenu_li.gif) no-repeat;
	margin-bottom: 5px;
	color: #555555;
	line-height: 1.1em;
}

#disclaimer-message a:link { color: black;  text-decoration: underline; }
#disclaimer-message a:visited { color: black;  text-decoration: underline; }
#disclaimer-message a:hover { color: black;  text-decoration: none; }


/* content */
form {
	margin: 0px;
	padding: 0px;
}
form fieldset {
	padding: 5px 20px 10px 15px;
	border: 1px solid #DBDBDB;
	margin: 0px 0px 20px 0px;
}
form fieldset legend { color: #1640AB; padding: 0px 2px; }

input.btn {
	font-size: 11px;
	padding: 3px 6px 3px 6px;
}

#content-box {
	padding: 15px 40px 40px 25px;
}

h1 {
	color: #345CAF;
	font: 23px Arial, Helvetica, sans-serif;
	margin: 20px 0px 25px 0px;
}

h2 {
	font: 18px Arial, Helvetica, sans-serif;
	margin: 0 0 20px 0;
}

button {
	border: 1px solid #848484;
	padding: 2px 8px 2px 8px;
	margin-right: 20px;
	font: bold 11px Arial, Helvetica, sans-serif;
	background-image: url(../bg_btn.gif);
	cursor: pointer;
}

.fwhite { color: white; }
.fwhite a:link { color: White;  text-decoration: underline; }
.fwhite a:visited { color: White;  text-decoration: underline; }
.fwhite a:hover { color: White;  text-decoration: none; }

.content { color: black; }
.content a:link, .content a:visited { color: #0C57A6;  text-decoration: none; }
.content a:hover { color: #0C57A6;  text-decoration: underline; }

.content .grey_link a:link,
.content .grey_link a:visited,
.content .grey_link a:hover { color: gray; }

.prompt {
	font: 9px Arial, Helvetica, sans-serif;
	color: Gray;
	padding-top: 2px;
}

.img {
	border: 1px solid Gray;
}

.form-item {
	margin: 8px 0px 8px 0px;
}

.attention {
	color: Gray;
	padding: 5px;
}


.table-items {
	border-collapse: collapse;
	border: 1px solid White;
	border-bottom: 1px solid #CCCCCC;
}
.table-items td {
    border-collapse: collapse;
}
.table-items th {
	background-color: #3967C2;
	text-align: center;	
	color: White;
	font-weight: bolder;
}

.table-compact {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}
.table-compact td {
    padding: 3px;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    word-break: break-all;
}
.table-compact th {
    background-color: #3967C2;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.pages {
	font-size: 12px;
	margin: 15px 10px 0px 0px;	
}
.pages li {
	display: inline;
	list-style: none inside;
	margin: 0px;
	padding: 2px 2px 2px 5px;
}
.page-selected {
	color: Gray;	
	background-color: #F0F0F0;
	font-weight: bold;
	border: 1px solid #D3D3D3;
}

.message {
	background-color: #F5F5F5;
	border: 1px solid #D2D2D2;
	margin-top: 50px;
	padding: 7px;

	text-align: center;
}

.f_incorrect { border: 3px solid Red; } 


.help li {
	margin-top: 15px;
}


.spacer {
	background-image: url(/i/spacer_dotted.gif);
	height: 1px;
	overflow: hidden;
	margin: 10px 0px 10px 0px;
}

/* footer */

#copyrights {
	height: 26px;
	background: url(/i/copyrights.gif) no-repeat;
	padding-left: 15px;
	vertical-align: middle;
	color: #E0E7F8;
}

#footer-line {
	height: 7px;
	overflow: hidden;
	background-color: #345CAF;
}

/* Курсор над чекбоксом */
input[type="checkbox"] {
    cursor: pointer;
}

/* Выравниваем чекбоксы */
div > label > input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: 0px;
}
div > label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

/* Серый блок с информацие */
div.info {
    padding: 13px;
    background-color: #F2F2F2;
    border: 1px solid #D5D5D5;
    margin-bottom: 20px;
    line-height: 1.2em;
}

/* Дата пикер */
.datepicker,
.datepicker-filter {
    width: 90px;
}

/* Тест регулярных выражений */
.testregex__container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.testregex__leftcolumn {
    position: relative;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}
.testregex__rightcolumn {
    position: relative;
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
}
.testregex__content {
    position: relative;
    width: auto;
    padding: 0 6px;
}
.testregex__error {
    border: 1px solid red;
    border-radius: 3px;
    background-color: #FFCCCC;
    text-align: center;
    padding: 3px;
}
.testregex__row {
    border: 1px solid #DDDDDD;
    border-bottom: none;
    background-color: #FFFFFF;
    padding: 2px;
    word-wrap: break-word;
}
.testregex__row--last {
    border: 1px solid #DDDDDD;
}
.testregex__row--odd {
    background-color: #EEEEEE;
}

/* Пользовательская статистика */
table.stat__container {
    width: auto;
}
table.stat__container td {
    vertical-align: top;
    padding-bottom: 15px;
}

div.stat__counter {
    padding: 13px 13px 0 13px;
    background-color: #F2F2F2;
    border: 1px solid #D5D5D5;
    margin-bottom: 20px;
    line-height: 1.2em;
}
p.stat__counter--value {
    font-size: 28pt;
    margin: 15px 0 20px 0;
}
p.stat__counter--descr {
    font-size: 10pt;
}

div.stat__chart {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    margin-bottom: 20px;
    line-height: 1.2em;
    padding: 0;
    width: 500px;
    height: 200px;
    text-align: center;
}
div.stat__chart img {
    margin-top: 75px;
}

.label-green {
    padding: 3px;
    background-color: green;
    color: white;
    cursor: default;
}
.label-orange {
    padding: 3px;
    background-color: orange;
    color: white;
    cursor: default;
}

.plus {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url('../plus.png') no-repeat center;
    opacity: 0.5;
    cursor: pointer;
    margin-left: -1px;
}
.plus:hover {
    opacity: 1;
}
.minus {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url('../minus.png') no-repeat center;
    opacity: 0.5;
    cursor: pointer;
}
.minus:hover {
    opacity: 1;
}


#users_status_filter {
    position: relative;
    margin: -20px 0px 10px 0px;
}
#users_status_filter #search {
    position: relative;
    right: 0;
    width: 400px;
}
#users_status_filter .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    text-align: left;
}

.square {
    display: inline-block;
    border: solid 1px black;
    position: relative;
    top: 2px;
    width: 10px;
    height: 10px;
}
.square.grey {
    background-color: grey;
}
.square.yellow {
    background-color: yellow;
}
.square.green {
    background-color: green;
}
.square.red {
    background-color: red;
}

input.checkbox_remove {
    position: relative;
    top: -2px;
    margin-left: 8px;
}

.hidden {
    display: none;
}

/* Превью изображений в редакторе новостей */

.img_preview_container {
    position: relative;
    border: 1px solid #ccc;
    height: 184px;
    margin-top: 10px;
}

.img_preview_filter {
    position: relative;
    height: 27px;
    background-color: #F0F0EE;
    border-bottom: 1px solid #ccc;
}

.img_preview_filter input {
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
    width: 163px;
}

.img_preview {
    position: absolute;
    top: 28px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: scroll;
    overflow-y: auto;
    text-align: left;
}

.img_preview div {
    min-width: -moz-max-content;
    min-width: -webkit-max-content;
    min-width: -o-max-content;
    min-width: -ms-max-content;
}

.img_preview .thumb {
    display: inline-block;
}
.img_preview .thumb > div {
    position: relative;
}
.img_preview .thumb > div > div {
    position: absolute;
    left: 9px;
    bottom: 8px;
    right: 9px;
    min-width: 0;
    padding: 3px 6px;
    background-color: rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_preview img {
    height: 120px;
    margin: 5px 6px;
    border: 3px solid #eee;
    cursor: pointer;
}

.img_preview img:hover {
    border-color: #ccc;
}

.img_preview img + img {
    margin-left: 0;
}

.image_upload {
    border: solid 1px #ccc;
    width: 200px;
}
.image_upload > label {
    display: block;
    min-height: 120px;
    padding: 0;
    text-indent: 0;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
}
.image_upload > label > #image_click {
    display: block;
    padding: 3px 6px;
}
.image_upload > label:hover > #image_click {
    color: blue;
    text-decoration: underline;
}
.image_upload .header {
    font-size: 20px;
    color: #777;
    text-align: center;
    padding-top: 20px;
}
.image_upload:hover .header {
    color: #000;
}

ul.chat_history {
    list-style: none;
    padding: 0;
    margin: 0px 60px;
}

ul.chat_history li {
    display: inline-block;
    clear: both;
    margin-bottom: 15px;
}

ul.chat_history li.ms_right {
    float: right;
}

ul.chat_history li.ms_left {
    float: left;
}

ul.chat_history li.ms_left p {
    background-color: #dbf2ff;
    margin-top: 5px;
    padding: 15px;
    border-radius: 5px;
}

ul.chat_history li.ms_right p {
    background-color: #fbf4d1;
    margin-top: 5px;
    padding: 15px;
    border-radius: 5px;
}