html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, form {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

ul li { list-style: none; } 
img { border: none; }
p { margin: 12px 0; }
td { vertical-align: top; }
wbr { display: inline-block; }

.reset_table,
.reset_table td {
    padding: 0;
    margin: 0;
    border: 0 none;
    border-collapse: collapse;
}

.debug { border: 1px solid red; }
.debug2 { background-color: red; opacity: 0.3; }
.debug3 { background-color: rgba(255,0,0,0.1); }
.clear { display: block; clear: both; }
.f-incorrect { border: 2px solid red !important; }