@-moz-document url-prefix()
{
    #company_info_fixed .line {
        min-height: 1.435em;
        line-height: 1.385em;
        padding: 0;
        margin-bottom: 0.73em;
    }
    table.search tbody td.company .line {
        min-height: 1.112em;
        line-height: 0.97304em;
        padding: 0;
        margin-bottom: 0.1985em;
    }

    #company_card_popup {
        position: absolute;
        padding: 1.367em 0 0;
        width: 210px;
        min-height: 250px;
        background: #ffffff;
        z-index: 130;
        box-shadow: 0 3px 10px #7a7a7a;
        border-radius: 8px;
        overflow: hidden;
    }

    #company_card_popup .title_block .line {
        position: relative;
        top: -2px;
        padding: 0;
        margin-bottom: 0.1405em;
        line-height: 1.385em;
        font-size: 13px;
        min-height: 1.435em;
    }
}

