.sticker .shadow {
    background: none;

    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/media/i/shadow_main.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/media/i/shadow_main.png', sizingMethod='scale')";
}

a.button:hover > span {
    background: none;

    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/media/i/button_hover.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/media/i/button_hover.png', sizingMethod='scale')";
}

#basket_cnt_upd, #login_block, .fancybox-opened .fancybox-skin, #company_card_popup { border: 1px solid #e1e0dc; }