/* Main */
body {
    font: 15px Arial, Helvetica, sans-serif;
    line-height: 21px;
    background: #ffffff;
    color: #595959;
}

#main {
    position: relative;
    min-width: 990px;
    max-width: 1000%;
    overflow: hidden;
}

.wrap {
    position: relative;
    min-width: 970px;
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

h1, .h1 {
    font-size: 28px;
    color: #303030;
    padding: 2px 0 0 0;
    line-height: 29px;
}
/*
h1:first-letter { text-transform: uppercase; }
*/
.top > h1, .top > .h1 { float: left; }

h2 {
    font-size: 17px;
    font-weight: bold;
    color: #303030;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    color: #303030;
}

h4 {
    font-size: 13px;
    font-weight: bold;
    color: #303030;
}

/* Links */
a:link, a:visited { color: #037ec4; text-decoration: underline; }
a:hover { color: #e31e1d; }

a.dashed:link,
a.dashed:visited { color: #037ec4; border-bottom: 1px dashed #037ec4; text-decoration: none; }
a.dashed:hover { color: #e31e1d; border-color: #e31e1d; }

a.dotted:link, a.dotted:visited { color: #037ec4; border-bottom: 1px dotted #037ec4; text-decoration: none; }
a.dotted:hover { color: #e31e1d; border-color: #e31e1d; }

.line img:hover + a.dotted { color: #e31e1d; border-color: #e31e1d; }

a.dotted.dark:link, a.dotted.dark:visited { color: #303030; border-bottom: 1px dotted #303030; }
a.dotted.dark:hover { color: #e31e1d; border-color: #e31e1d; }

a.with_icon {
    display: block;
    font-size: 13px;
    line-height: 15px;
    height: 17px;
    float: left;
    border: none;
}
a.with_icon .icon {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin: 1px 0 0 21px;
    background: url(/media/i/controls.png) 0 0 no-repeat;
    float: right;
    cursor: pointer;
}
a.with_icon .link { display: block; cursor: pointer; }
a.with_icon.dotted, a.with_icon.dotted:visited { border-bottom: none; color: #303030; }
a.with_icon.dotted .link, a.with_icon.dotted:visited .link { border-bottom: 1px dotted #303030; }

a.with_icon.dotted:hover, a.with_icon.dotted:hover { border-bottom: none; color: #e31e1d; }
a.with_icon.dotted:hover .link { border-bottom: 1px dotted #e31e1d; }

a.with_icon.clr { margin: 11px 0 0 28px; }
a.with_icon.clr .icon {
    float: left;
    background-position: -19px -139px;
    margin-left: 0;
    margin-right: 5px;
}
a.with_icon.clr:hover .icon { background-position: -36px -139px; }

a.button {
    display: block;
    position: relative;
    height: 37px;
    margin: 0;
    padding: 0;
    background: #303030;
    border-radius: 5px;
    box-shadow: 0 2px 3px #888888;
    float: left;
    text-decoration: none;
    cursor: pointer;
}
a.button > span {
    display: block;
    position: relative;
    height: 35px;
    margin: 0 0 2px;
    padding: 0 24px;
    line-height: 35px;
    background: #525252;
    border-radius: 5px;
    float: left;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px #232323;
    color: #ffffff;
}
a.button.disabled {
    cursor: not-allowed;
}
a.button.disabled > span {
    color: #ccc;
}

input.button {
    display: block;
    position: relative;
    height: 35px;
    margin: 0 0 2px;
    padding: 0 24px;
    line-height: 35px;
    background: #525252;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px #888888;
    float: left;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px #232323;
    color: #ffffff;
}
input.button:hover {
    cursor: pointer;
    background: #525252 url('/media/i/button_hover.png') center top no-repeat;
    background-size: 100% 100%;
}

a.button:hover > span { background: #525252 url(/media/i/button_hover.png) center top no-repeat; background-size: 100% 100%; }

a.button:active { height: 36px; margin: 1px 0 0; box-shadow: 0 1px 2px #888888; }
a.button:active > span { height: 35px; margin: 0 0 1px; }

a.button.disabled { opacity: 0.5; cursor: default; }

a.button.disabled:hover > span { background: #525252; }

a.button.disabled:active { height: 37px; margin: 0; box-shadow: 0 2px 3px #888888;}
a.button.disabled:active > span { height: 35px; margin: 0 0 2px; }


a.button.light {
    height: 28px !important;
    margin: 0 0 1px;
    padding: 0 16px;
    line-height: 28px;
    background: url(/media/i/controls.png) 0 -109px repeat-x;
    border-radius: 5px;
    float: left;
    white-space: nowrap;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    color: #333333;
    border: 1px solid #c5c5c1;
}
a.button.light:hover { box-shadow: 0 2px 3px #dfdfdf; }
a.button.light:active { margin: 1px 0 0; box-shadow: none; }
a.button.light.disabled { opacity: 0.5; cursor: default; }
a.button.light.disabled:hover { background: url(/media/i/controls.png) 0 -109px repeat-x; box-shadow: none; }
a.button.light.disabled:active { height: 28px; background: url(/media/i/controls.png) 0 -109px repeat-x; margin: 0 0 1px; box-shadow: none;}

a.button.light span {
    display: block;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: inherit;
    background: none;
    border-radius: 0;
    float: none;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    color: #333333;
}

a.button.light span.empty {
    display: block;
}
a.button.light span.checked {
    display: none;
}
a.button.light.checked span.empty {
    display: none;
}
a.button.light.checked span.checked {
    display: block;
}

.select_wrap { position: relative; float: right; }
a.button.white {
    height: 28px;
    margin: 0 0 0 12px;
    padding: 0 27px 0 12px;
    line-height: 28px;
    background: #ffffff;
    border-radius: 5px;
    float: left;
    white-space: nowrap;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    border: 1px solid #c5c5c1;
}
a.button.white > span {
    display: block;
    position: absolute;
    right: 10px;
    top: 11px;
    width: 7px;
    height: 8px;
    margin: 0;
    padding: 0;
    background: url(/media/i/controls.png) -67px -37px;
    text-shadow: none;
    border-radius: 0;
}
a.button.white > span:first-child {
    display: block;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding: 7px 0 0;
    background: #ffffff;
    border-bottom: 1px dotted #7f7f7f;
    color: #7f7f7f;
    text-shadow: none;
    border-radius: 0;
}

a.button.white:hover > span { background-position: -76px -99px; background-size: auto; }
a.button.white:hover > span:first-child { border-bottom: 1px dotted #e31e1d; color: #e31e1d  }

a.button.white.disabled { opacity: 0.5; cursor: default; }

a.button.white.disabled:hover { background-position: -76px -99px; box-shadow: none; }
a.button.white.disabled:hover > span { background: url(/media/i/controls.png) -67px -37px; box-shadow: none; }
a.button.white.disabled:hover > span:first-child { background: #ffffff; border-bottom: 1px dotted #7f7f7f; color: #7f7f7f; }

a.button.white.disabled:active { height: 28px; background: #ffffff; margin: 0 0 0 12px; box-shadow: none;}
a.button.white.disabled:active > span { height: 8px; margin: 0; box-shadow: none; }
a.button.white.disabled:active > span:first-child { height: 14px; }

a.button.white.clear {
    display: block;
    left: auto;
    position: relative;
    float: right;
    padding: 0 12px 0 27px;
}
a.button.white.clear.hide { display: none; }
a.button.white.clear > .icon {
    width: 13px;
    height: 13px;
    right: auto;
    left: 10px;
    top: 7px;
    background-position: -19px -139px;
}
a.button.white.clear > span:first-child { border-bottom: none; }
a.button.white.clear:hover > .icon { background-position: -36px -139px; }



.custom_checkbox {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url(/media/i/controls.png) 0 -37px no-repeat;
    cursor: pointer;
}
.custom_checkbox.checked { background-position: -17px -37px !important; }

.close {
    display: block;
    position: absolute;
    right: 11px;
    top: 14px;
    width: 16px;
    height: 17px;
    background: url(/media/i/controls.png) -36px -90px;
}
.close:hover { background-position: -54px -90px }

#order_block {
    position: relative;
    padding: 16px 5px 19px 20px;
    min-width: 365px;
    background: #ffffff;
}
#order_block .close { right: 1px; top: 4px; }

#order_block .form-horizontal,
#login_block .form-horizontal { margin: 25px 0 0; }
#client_login_block .form-horizontal { margin: 25px 0 0; }
#client_remember_block .form-horizontal { margin: 25px 0 0; }
#client_reg_block .form-horizontal { margin: 25px 0 0; }

#order_block .form-horizontal .control-group { margin-bottom: 28px; width: 415px;}
#login_block .form-horizontal .control-group  { margin-bottom: 12px; }
#client_login_block .form-horizontal .control-group  { margin-bottom: 12px; }
#client_remember_block .form-horizontal .control-group  { margin-bottom: 12px; }
#client_reg_block .form-horizontal .control-group  { margin-bottom: 12px; }

#order_block .form-horizontal .control-label,
#login_block .form-horizontal .control-label{ width: 80px; }
#client_login_block .form-horizontal .control-label{ width: 80px; }
#client_remember_block .form-horizontal .control-label{ width: 80px; }
#client_reg_block .form-horizontal .control-label{ width: 80px; }

#order_block .form-horizontal .controls,
#login_block .form-horizontal .controls { margin-left: 85px; }
#client_login_block .form-horizontal .controls { margin-left: 85px; }
#client_remember_block .form-horizontal .controls { margin-left: 85px; }
#client_reg_block .form-horizontal .controls { margin-left: 85px; }

#order_block .form-horizontal .controls input { width: 317px; }
#login_block .form-horizontal .controls input { width: 95%; }
#client_login_block .form-horizontal .controls input { width: 95%; }
#client_remember_block .form-horizontal .controls input { width: 95%; }
#client_reg_block .form-horizontal .controls input { width: 95%; }

#order_block .form-horizontal .control-label,
#login_block .form-horizontal .control-label { text-align: left; font-size: 13px; }
#client_login_block .form-horizontal .control-label { text-align: left; font-size: 13px; }
#client_remember_block .form-horizontal .control-label { text-align: left; font-size: 13px; }
#client_reg_block .form-horizontal .control-label { text-align: left; font-size: 13px; }

#order_block .form-horizontal .new_line { margin-top: -7px; margin-bottom: 15px; }
#order_block .form-horizontal .new_line .control-label { width: 100%; float: none; }
#order_block .form-horizontal .new_line .controls { margin-left: 0; }
#order_block .form-horizontal .new_line .controls textarea { width: 402px; max-width: 500px; resize: none; }
#order_submit, #login_submit, #client_login_submit, #client_remember_submit, #client_reg_submit { float: right; }

.individual_buyer_radio {
    padding: 8px 20px;
    margin-left: -20px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 13px;
    background: #f8f8f8;
}
.individual_buyer_radio label {
    display: inline-block;
    position: relative;
    margin-left: 18px;
    font-size: 13px;
}
.individual_buyer_radio label input {
    position: relative;
    top: 2px;
}
#no_individual_buyers_msg {
    color: #ff0000;
    box-sizing: border-box;
    max-width: 400px;
    padding: 16px 0 0 0;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.fancybox-skin {
    background: #ffffff;
    border-radius: 10px;
    color: #444444;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 3px 10px #7a7a7a;
    -moz-box-shadow: 0 3px 10px #7a7a7a;
    box-shadow: 0 3px 10px #7a7a7a;
}

#global_error {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: pink;
}

#client_menu_block {
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 0;
    background: #ffffff;
    z-index: 150;
    box-shadow: 0 3px 10px #7a7a7a;
}

a.client_exit { color: brown; }
a.client_exit:hover { color: red; }

.settings_icon {
    display: inline-block;
    position: relative;
    top: 6px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: no-repeat 0 0 url('../i/settings2.png');
}
.settings_icon:hover {
    background-position: -20px 0;
}

.client_menu_item a {
    display: block;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 2px 15px;
}
.client_menu_item a:hover {
    background-color: #dfdeda;
}

.client_menu_separator {
    border-bottom: dashed 1px #555555;
    margin: 3px 0;
}

.block_ajax_loader {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
}

.block_error {
    font-size: 12px;
    line-height: 1.5em;
    padding: 0;
    margin-top: 5px;
    margin-bottom: -10px;
    color: red;
    display: none;
}

.block_info {
    font-size: 12px;
    line-height: 1.5em;
    padding: 0;
    margin-top: 5px;
    margin-bottom: -10px;
    color: green;
    display: none;
}

#login_block {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 20px 23px 23px;
    width: 321px;
    height: 168px;
    background: #ffffff;
    z-index: 150;
    box-shadow: 0 3px 10px #7a7a7a;
    border-radius: 8px;
}

#login_block .remember { position: relative; font-size: 13px; text-decoration: none; top:5px; }
#login_submit { margin: -20px 0 0; }


#client_login_block {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 20px 23px 23px;
    width: 341px;
    background: #ffffff;
    z-index: 150;
    box-shadow: 0 3px 10px #7a7a7a;
    border-radius: 8px;
}

#client_login_block .login_method {
    position: absolute;
    top: -2px;
    right: 38px;
    font-size: 13px;
}
#client_login_block .login_method div:first-child {
    margin-right: 4px;
}
#client_login_block .login_method > div {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    cursor: pointer;
}
#client_login_block .login_method > div > span {
    border-bottom: dotted 1px;
}
#client_login_block .login_method > div:hover > span {
    border-bottom: none;
}
#client_login_block .login_method > div.active {
    background-color: #FBF2C9;
}
#client_login_block .login_method > div.active > span {
    border-bottom: none;
}

#client_login_regmsg {
    display: none;
    font-size: 13px;
    margin-bottom: 12px;
}

#client_login_block .remember { position: relative; font-size: 13px; text-decoration: none; top:5px; }

#client_remember_block {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 20px 23px 23px;
    width: 321px;
    background: #ffffff;
    z-index: 150;
    box-shadow: 0 3px 10px #7a7a7a;
    border-radius: 8px;
}

#client_reg_block {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 20px 23px 23px;
    width: 321px;
    background: #ffffff;
    z-index: 150;
    box-shadow: 0 3px 10px #7a7a7a;
    border-radius: 8px;
}

/* Pager */
.pager_pages {
    position: relative;
    width: 709px;
    margin: 0 0 18px;
    padding: 20px 0 0;
    border-top: 1px solid #e1e0dc;
    text-align: center;
    color: #111111;
}

.no_top .pager_pages { width: auto; border: none; }

.pager_pages a { text-decoration: none; }

.pager_pages .prev, .pager_pages .next { position: absolute; }
.pager_pages span.prev, .pager_pages span.next { color: #a4a4a1; }
.pager_pages .prev { left: 0; }
.pager_pages .next { right: 0; }
.pager_pages .item { padding: 5px 7px; margin: 0 3px; }
.pager_pages .item.selected {  background: #fbf2cb; border-radius: 3px; }

/* Static text */
.static_text h2 { margin-top: 30px; margin-bottom: 10px; }
.static_text h3 { margin: 10px 0; }
.static_text h4 { margin: 10px 0; }

.static_text .check {
    display: block;
    position: relative;
    width: 18px;
    height: 14px;
    margin: 4px 0 3px;
    background: url(/media/i/controls.png) 0 -139px no-repeat;
}

.static_text ul li {
    margin: 0 0 0 21px;
    padding: 0 0 10px 5px;
    list-style-image: url(/media/i/li.png);
}
.static_text ol {
    margin: 0 0 0 21px;
}
.static_text ol li {
    padding: 0 0 15px 0;
    margin: 0 0 0 6px;
}

.static_text { padding-top: 5px; }

.static_table {
    width: 100%;
    margin: 25px 20px 40px -15px;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 13px;
}
.static_table td {
    padding: 7px 20px;
}
.static_table tr {
    background: #f8f8f6;
    border: 1px solid #ffffff;
}
.static_table tr td:first-child {
    padding-left: 15px;
}
.static_table tr:nth-child(2n+1) {
    background: #f8f8f6;
    border-radius: 5px;
}
.static_table tr:nth-child(2n) {
    background: #ffffff;
    border: none;
}
.static_table tr:nth-child(2n+1) td:first-child {
    border-radius: 5px 0 0 5px;
}
.static_table tr:nth-child(2n+1) td:last-child {
    border-radius: 0 5px 5px 0;
}
.static_table td sup {
    font-size: 10px;
    line-height: 13px;
    font-weight: bold;
}

.static_text .menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: 1px solid #CFCFCF;
    border-radius: 7px;
}
.static_text .menu > div {
    font-size: 12px;
    font-weight: bold;
    color:#242424;
    line-height:14px;
    text-align:left;
}
.static_text .menu > div > a {
    display: inline-block;
    text-decoration: underline;
    padding: 6px;
    border-radius: 3px;
    color: #000000;
}
.static_text .menu > div > a:hover {
    color: #E31E1D;
}
.static_text .menu > div > a.active {
    text-decoration: none;
    background-color: #FBF2CB;
}

.system_message {
    width: 50%;
    padding: 5px 15px;
    margin: 25px 0 15px -15px;
    background: #fbf2cb;
    border-radius: 8px;
    line-height: 21px;
    font-style: italic;
    color: #303030;
}

.system_message h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0;
}

.system_message p {
    margin: 8px 0;
}


/* Header */
#header {
    position: relative;
    min-width: 970px;
    max-width: 1130px;
}
#header .navigation { height: 65px; position: relative; }

#menu {
    display: block;
    position: relative;
    margin: 23px 0 0 25px;
    float: left;
}

#menu li {
    margin-right: 22px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

#menu li a {
    font-size: 12px;
    font-weight: bold;
    color: #303030;
    text-transform: uppercase;
}
#menu li a:hover { color: #e31e1d; }

#menu li.home a {
    display: block;
    width: 20px;
    height: 20px;
    background: url(/media/i/controls.png) -55px -191px no-repeat;
    margin: -1px 0 0 0;
}

#menu li.telegram a::before {
    display: block;
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 24px;
    height: 24px;
    background: url('/media/i/telegram_small.png') 0 0 no-repeat;
}

#menu li.telegram a {
    position: relative;
    color: #139bd0;
    padding: 0 0 0 30px;
}

#in_basket {
    position: relative;
    height: 27px;
    line-height: 27px;
    margin: 22px 0 0 7px;
    padding: 0 20px 0 0;
    background: #fbf2cb url(/media/i/controls.png) 100% 0 no-repeat;
    border-radius: 3px;
    color: #252525;
    font-size: 13px;
    float: left;
}

#in_basket .custom_checkbox {
    margin: 6px 6px 0;
    float: left;
    background-position: -17px -37px;
}

#in_basket.empty { background: #f5f5f2; padding-right: 13px; }
#in_basket.empty .custom_checkbox { background-position: 0 -37px; }

#in_basket.empty .link, #in_basket .text { display: none; }
#in_basket .link, #in_basket.empty .text { display: inline; }


#settings_link {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 29px 22px 0 0;
}

#settings_link .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-position: -34px -37px;
}
#settings_link:hover .icon { background-position: -51px -37px; }

#auth_info {
    display: block;
    position: absolute;
    right: 175px;
    margin-top: 22px;
    padding: 3px 25px;
    background-color: #FBF2CB;
    border-radius: 4px;
    font-size: 13px;
}
#auth_info img {
    margin-bottom: -6px;
}

#auth_div {
    display: block;
    position: absolute;
    right: 10px;
    margin-top: 25px;
    font-size: 13px;
}
#auth_div img {
    margin-bottom: -6px;
}

/* Search block */
#search_block {
    position: relative;
    width: 100%;
    height: 108px;
    margin: 0;
    padding: 0;
    background: #b3b2ae;
    border-radius: 10px;
    box-shadow: 0 8px 12px #888888;
}

#search_block .bg {
    position: relative;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 14px 0 0;
    background: #dfdeda;
    border-radius: 7px;
}

#logo {
    display: block;
    position: relative;
    width: 163px;
    height: 73px;
    margin: 0 0 0 17px;
    background: url(/media/i/logo.png) center top no-repeat;
    float: left;
}

#search_form {
    position: relative;
    min-width: 500px;
    max-width: 909px;
    height: 37px;
    margin: 13px 27px 0 194px;
}

#search_form .wrap {
    position: relative;
    min-width: 0;
    max-width: none;
    margin: 0 120px 0 0;
    padding: 0;
    width: auto;
}

#search_form .wrap .img {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    top: 6px;
    right: -7px;
}

#search_form .wrap .img.hide { display: none; }
#search_form .search_info {
    display: none;
    font-size: 11px;
    padding: 2px;
}

#search_form .button {
    position: absolute;
    right: 0;
    top: 0;
}
#search_form .button > span {
width: 46px;
}

#search_form .clear_search {
    width: 32px;
    height: 34px;
    display: none;
    position: absolute;
    top: 1px;
    right: -12px;
    z-index: 3;
    background: #ffffff;
    border-radius: 4px;
}
#search_form .clear_search:after {
    display: block;
    content: '';
    width: 100%;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-image: url(/media/i/icon_cancel.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 8px 10px;
    cursor: pointer;
}
#search_form .clear_search._is_loading:after {
    background-image: url(../i/ajax_loader_transp.gif);
}
#search_form .clear_search:hover:after {
    opacity: 0.9;
}

#search_form #search_input {
    height: 27px;
    line-height: 27px !important;
    width: 100%;
    margin: 0;
    font: 17px Arial, Helvetica, sans-serif;
    color: #303030;
}

#search_form #search_input.empty {
    color: #acacac;
}

.search_select {
    margin-top: 5px;
}
.search_select label {
    padding-right: 30px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
}
.search_select input {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#multiple_input {
    margin-bottom: 0;
    display: none;
    line-height: 27px !important;
    width: 100%;
    margin: 0;
    font-size: 17px;
    color: #303030;
    resize: none;
}
.multiple_count {
    margin-left: 0;
    padding: 3px 6px;
    background: #fbf2cb;
    border-radius: 3px;
    border: none;
}

/* Container */
#container {
    min-height: 400px;
    padding: 39px 0 50px;
    position: relative;
}
#container .wrap {
    position: relative;
    min-width: 0;
    max-width: none;
    padding: 0 25px;
    margin: 0;
}

#container .top .special {
    display: block;
    padding: 10px 0 0 10px;
    font-size: 11px;
    font-style: italic;
    line-height: 17px;
    color: #a4a4a1;
    float: left;
}
#container .top .special.price {
    font-style: normal;
    font-size: 13px;
    color: inherit;
}


#breadcrumbs { font-size: 11px; margin: 4px 0 0 0; }
#breadcrumbs a:link,
#breadcrumbs  a:visited { color: #a4a4a1; text-decoration: none; }
#breadcrumbs  a:hover { color: #e31e1d; }

/* How to teasers */
#how_to {
    position: relative;
    min-width: 920px;
    max-width: 100%;
    padding: 16px 0 50px;
}

#how_to_bg {
    position: absolute;
    width: 1161px;
    height: 320px;
    top: 0;
    left: -40px;
    background: url(/media/i/how_to_bg.png) left 76px no-repeat;
    z-index: 0;
}
.small #how_to_bg {
    left: auto;
    right: -77px;
}


#how_to_bg .color
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 320px;
}
#how_to:hover #how_to_bg .color
{
    background: url(/media/i/how_to_bg_hover.png) left 76px no-repeat;
}

#telegram-promo {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    max-width: 960px;
    min-height: 333px;
    margin: 40px auto 0;
}
#telegram-promo #telegram-phone {
    position: absolute;
    right: 0;
    top: -32px;
    background: no-repeat center center url('/media/i/telegram-phone.png');
    width: 199px;
    height: 365px;
}
#telegram-promo #telegram-messages {
    padding-right: 308px;
    padding-top: 30px;
}
#telegram-promo .telegram-message {
    font-size: 16px;
    box-sizing: border-box;
    text-align: left;
    margin: 10px 0;
}
#telegram-promo .telegram-message.green {
    display: inline-block;
    background: no-repeat center center url('/media/i/telegram-message-green.png');
    width: 450px;
    height: 101px;
    padding: 18px 32px 18px 18px;
}
#telegram-promo .telegram-message.gray {
    display: inline-block;
    background: no-repeat center center url('/media/i/telegram-message-gray.png');
    width: 358px;
    height: 47px;
    padding: 13px 13px 13px 36px;
}

#ui-promo {
    position: relative;
    padding: 0;
    height: 380px;
    max-width: 960px;
    margin: 24px auto;
}
#ui-promo > h2 {
    font-size: 24px;
    font-weight: bold;
}
#ui-promo > h2 > span {
    font-size: 12px;
    font-weight: normal;
    color: #9e9e9e;
}
#ui-promo > a {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    height: 330px;
    top: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
#ui-promo > a:hover,
#ui-promo > a.hover {
    box-shadow: 0 0 25px 0 rgba(128, 128, 128, 0.5);
}
#ui-promo > a:nth-of-type(1) {
    left: 0;
}
#ui-promo > a:nth-of-type(2) {
    left: 50%;
    margin-left: -150px;
}
#ui-promo > a:nth-of-type(3) {
    right: 0;
}
.ui.pro {
    background: url('/media/i/ui_pro.png') no-repeat center;
}
.ui.oneclick {
    background: url('/media/i/ui_oneclick.png') no-repeat center;
}
.ui.simple {
    background: url('/media/i/ui_simple.png') no-repeat center;
}
#ui-promo > a > h3 {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    top: 37px;
}
#ui-promo > a > div {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 73px;
    bottom: 73px;
}
.lens {
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 174px;
    height: 174px;
    margin-left: -87px;
    margin-top: -87px;
    border: solid 3px #777777;
    border-radius: 50%;
    z-index: 500;
}
#ui-promo > a > p {
    display: block;
    position: absolute;
    left: 18px;
    right: 18px;
    bottom: 24px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 120%;
}
.zoomLens {
    cursor: pointer;
}
.zoomWindow {
    display: none !important;
}

#how_to .step {
    width: 31%;
    padding: 13px 0 0 0;
    float: left;
}
#how_to .step h2 { padding: 14px 0 8px; }
#how_to .step.find, #how_to .step.send  { width: 31%; padding: 13px 3% 0 0; }

#how_to .step .img {
    display: block;
    position: relative;
    width: 270px;
    height: 150px;
    margin: 0;
    padding: 0;
    background: url(/media/i/how_to_teasers.png);
    border-radius: 5px;
}

#how_to .step.find .img { background-position: 0 0; }
#how_to .step.send .img { background-position: -272px 0; }
#how_to .step.watch .img { background-position: -544px 0; }

#news_header {
    padding: 13px 25px 0;
    font-size: 20px;
    color: #303030;
}

#news_feed,
#user_docs {
    clear: both;
    margin: 5px 20px 77px;
    padding: 0 5px;
    border-top: 1px solid #e1e0dc;
    overflow: hidden;
}

#news_feed .item,
#user_docs .item {
    width: 24%;
    margin-top: 23px;
    margin-right: 1%;
    float: left;
    min-height: 140px;
}

#news_feed .item img,
#user_docs .item img { width: 69px; float: left; border: 0;}

#news_feed .item .text,
#user_docs .item .text {  margin: 0 14px 0 83px; }

#news_feed .item.no_img .text,
#user_docs .item.no_img .text { margin: 0 14px 0 0; }

#news_feed .item .title,
#user_docs .item .title {
    display: block;
    line-height: 18px;
    padding: 1px 0 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #303030;
}
#news_feed .item .date,
#user_docs .item .file_type {
    display: block;
    font-size: 11px;
    font-style: italic;
    color: #a4a4a1;
}
#news_feed .item .link,
#user_docs .item .link {
    display: block;
    padding: 2px 0 0;
    line-height: 18px;
    font-size: 13px;
}

/* - - */
#news_feed.resize img { width: auto; max-width: 200px; height: 100px; margin: 0 65% 0 0; }
#news_feed.resize .item .text {  margin: 5px 14px 0 0; }
/* - - */


.sticker {
    position: relative;
    width: 723px;
    min-height: 64px;
    margin: 20px 0 10px 8px;
    padding-bottom: 5px;
    background: #f5f5f2;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.sticker .shadow {
    height: 16px;
    margin: 0 -16px;
    background: url(/media/i/shadow_main.png) center top no-repeat;
    background-size: 100% 100%;
}
.sticker .text {
    display: block;
    margin: 4px 13px 10px;
    font-style: italic;
    color: #303030
}
.sticker.info .icon {
    display: block;
    position: relative;
    width: 34px;
    height: 34px;
    margin: -2px 15px 10px 16px;
    background: url(/media/i/controls.png) -51px -54px no-repeat;
    float: left;
}


/* Catalog category */
.folder {
    display: block;
    width: 24px;
    height: 19px;
    margin: 0 7px 0 0;
    background: url(/media/i/controls.png) 0 -193px no-repeat;
    float: left;
}
#category_list a:hover .folder { background-position: -26px -193px }

#category_list { width: 100%; overflow: hidden; }
#category_list .column {
    display: block;
    width: 31%;
    padding: 40px 3% 0 0;
    float: left;
    overflow: hidden;
}
#category_list .column.last { width: 31%; padding-right: 0; }
#category_list .column li {
    display: block;
    margin: 0 0 15px;
    font-size: 13px;
}
#category_list .column li a { font-size: 15px; }

#category_list .column li > ul a { color: #252525; border-color: #252525; }
#category_list .column li > ul a:hover { color: #e31e1d; border-color: #e31e1d; }

#category_list .column.last { width: 31%; padding-right: 0; }
#category_list .column div { text-transform: lowercase; }

#category_list .column .level_1 { margin: 5px 0 10px; font-size: 15px; }
#category_list .column .level_2 { margin: 5px 0 5px 20px; font-size:  13px; }
#category_list .column .level_3 { margin: 5px 0 0 35px; font-size: 11px; line-height: 15px }

#category_list .column .level_2 a, #category_list .column .level_3 a { color: #252525; border-color: #252525; }
#category_list .column .level_2 a:hover, #category_list .column .level_3 a:hover { color: #e31e1d; border-color: #e31e1d; }

#category_list .column div:first-letter { text-transform: uppercase; }

.all_info {
    clear: both;
    padding: 7px 0 5px;
    font-style: italic;
}
.see_also {
    display: block;
    position: relative;
    margin: 5px 0 0;
    float: right;
    font-size: 13px;
    font-style: italic;
}

/* Table simple */
.table_wrap { padding: 0 10px; }
table.simple {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    border-spacing: 0;
}
table.simple td {
    padding: 13px 15px;
    text-align: right;
    vertical-align: middle;
}
table.simple td:first-child {
    padding: 10px 15px;
    text-align: left;
}
table.simple thead tr {
    background: #fbf2cb;
    border-radius: 5px;
}
table.simple thead th {
    height: 40px;
    padding: 0 15px;
    font-size: 11px;
    color: #8d8d8d;
    text-align: left;
}
table.simple thead th:first-child {
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
table.simple thead th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
table.simple.right thead th { text-align: right; }

table.simple tbody tr { border-bottom: 1px solid #e1e0dc; }
table.simple tbody td { height: 21px; font-size: 17px; color: #393939; }
table.simple tbody td span { font-size: 13px; }
table.simple tbody td span.date { color: #111111; }
table thead .with_icon {
    display: block;
    position: relative;
    padding: 0 20px 0 0;
    font-size: 11px;
    color: #8d8d8d;
    text-decoration: none;
    white-space: nowrap;
    float: right;
}
table thead .with_icon:hover { color: #e31e1d; }
table thead .with_icon span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: url(/media/i/controls.png) 0 -54px no-repeat;
}
table.simple th:first-child .with_icon { float: left; }
table thead .with_icon.desc span { background-position: 0 -71px; }
table thead .with_icon.desc.selected span { background-position: -34px -71px; }
table thead .with_icon.desc:hover span { background-position: -17px -71px; }
table thead .with_icon.asc span { background-position: 0 -54px;}
table thead .with_icon.asc.selected span { background-position: -34px -54px;}
table thead .with_icon.asc:hover span { background-position: -17px -54px;}


/* Order */
table.simple thead .state .with_icon,
table.simple thead .conpany .with_icon { float: left; }
table.simple thead .right_align { text-align: right; }
table.simple tbody td.conpany { text-align: left;}
table.simple tbody td.state { text-align: left; white-space: nowrap; }
table.simple tbody td.state .in_processing { color: #f7941d; }
table.simple tbody td.state .processed { color: #197b30; }
table.simple tbody td .phone { display: block; font-style: italic; color: #8d8d8d; }


/* Company */
th.count, th.last_upd { white-space: nowrap; }
th.count { text-align: right; }
table.simple thead .city .with_icon,
table.simple thead .price_upd .with_icon,
table.simple thead .contacts .with_icon { float: left; }
table.simple tbody td.city,
table.simple tbody td.price_upd,
table.simple tbody td.contacts { text-align: left; font-size: 13px; color: #111111; }
table.simple tbody td .about,
table.simple tbody .title span { display: block; font-style: italic; color: #8d8d8d; font-size: 11px; line-height: 15px; }

#company_card {  margin: 36px 25px 78px; }
#company_card .company_info {
    margin: 10px 0 19px;
    padding: 0 5px;
}
#company_card .line { margin: 0 0 15px; overflow: hidden; }
#company_card .title {
    width: 178px;
    font-weight: bold;
    float: left;
}
#company_card .val {  margin: 0 0 0 208px; }

#news_feed .news_company,
#user_docs .docs {
    display: block;
    margin-top: 12px;
    font-size: 17px;
    font-weight: bold;
    color: #252525;
}
#news_feed .news_company:hover { color: #e31e1d; }

#price_block {
    width: 160px;
    height: 215px;
    box-sizing: border-box;
    padding: 97px 10px 10px;
    background: url(/media/i/price_bg.png);
    overflow: hidden;
}
#price_block .price {
    display: block;
    margin: 2px 0 1px;
    font-size: 17px;
    font-weight: bold;
    color: #303030;
}
#price_block .price:hover { color: #e31e1d; }
#price_block .update {
    display: block;
    margin: 0 0 13px;
    font-size: 11px;
    font-style: italic;
    color: #555555;
}
#price_block .positions {
    color: #595959;
    font-size: 13px;
}

#vacancy_company { margin: 20px 0 0 15px; }
#vacancy_company .all_vacancy {
    display: block;
    margin: 0 0 5px;
    font-size: 17px;
    font-weight: bold;
    color: #303030;
}
#vacancy_company .all_vacancy:hover { color: #e31e1d; }
#vacancy_company ul { margin-bottom: 30px; }
#vacancy_company ul li { margin-bottom: 15px; }


/* Basket */
table.simple tbody .title { text-align: right; padding-right: 15px; }
table.simple thead .title .with_icon { float: right; }
table.simple input[type='text'] { width: 37px; text-align: right; }
table.simple.right thead th.company { text-align: left; }

table.simple.delete tbody tr:hover { background: #f8f8f6; }
table.simple.delete tbody tr.del, table.simple.delete tbody tr.del:hover{ background: #ffe0e0; }
table.simple.delete tbody tr.hide { display: none; }

table.simple tbody td.delete { text-align: right; padding: 13px 9px 13px 0;}


.basket_list .icon,
.icon.delete,
#basket_cnt_upd .icon
{
    display: block;
    position: relative;
    width: 17px;
    height: 17px;
    background: url(/media/i/controls.png) 0 -90px;
}
.basket_list .icon.delete:hover, .icon.delete:hover {  background: url(/media/i/controls.png) -18px -90px; }

.basket_list .icon.minus,
#basket_cnt_upd .icon.minus { display: none; float: left; background-position: 0 -214px; margin: 6px 0 0; }
.basket_list .icon.minus:hover,
#basket_cnt_upd .icon.minus:hover { background-position: -19px -214px; }
.basket_list .icon.plus,
#basket_cnt_upd .icon.plus { display: none; float: right; background-position: -38px -214px; margin: 6px 0 0 8px; }
.basket_list .icon.plus:hover,
#basket_cnt_upd .icon.plus:hover { background-position: -57px -214px; }

#basket_cnt_upd .icon.minus,
#basket_cnt_upd .icon.plus { display: block; }


.basket_list .cnt_line {
    position: relative;
    width: 100px;
    height: 30px;
    float: left;
    margin: 0;
}

.basket_list .comp_val { margin: 0; position: absolute; right: 25px; top: 0; }
.basket_list tr:hover .comp_val { margin: 0; }
.basket_list tr:hover .icon.minus,
.basket_list tr:hover .icon.plus { display: block; }


h2.del { margin-left: 15px; }

table.simple.user_delete { margin: -1px 0 0 0; }
table.simple.user_delete tr { border-bottom: 0; border-top: 1px solid #e1e0dc; }
table.simple.user_delete tr .icon.delete { background-position: 0 -174px; }
table.simple.user_delete tr .icon.delete:hover { background-position: -18px -174px; }

table.simple tbody .comp span {
    display: block;
    font-style: italic;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 15px;
}

#all_comp_val {
    font-size: 11px;
    height: 16px;
    margin: 0;
}

/* Search page */

.result_column {
    position: relative;
    float: right;
    width: calc(100% - 230px);
    margin-right: 10px;
}

.filter_column {
    position: relative;
    width: 213px;
}

#search_options_wrap { height: 76px; }
#search_options {
    width: 100%;
    height: 40px;
    margin: 15px 0 15px;
    padding: 6px 0 0;
    float: left;
}
#search_options .shadow {
    display: none;
    clear: both;
    width: 100%;
    height: 16px;
    background: #ffffff url(/media/i/shadow_main.png) no-repeat;
    background-size: 100%;
    margin-top: 9px;
}


#search_options .select_all_components { display: none; margin-left: 15px; }
#search_options .to_top { display: none; margin-left: 14px; }
#search_options .wrap .to_top:first-child { margin-left: -8px; }
#search_options .wrap { padding: 0 0; }
#search_options.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    margin-top: 0;
    padding: 10px 0 0;
    background: #ffffff;
    z-index: 150;
}
#search_options.fixed .select_all_components,
#search_options.fixed .to_top,
#search_options.fixed .shadow { display: block; margin-top: 0; }

#search_options.fixed .select_all_components.hide { display: none; }

#search_options.fixed .wrap { padding: 0 25px 9px; background: #ffffff; }

#in_basket_fixed {
    min-width: 40px;
    min-height: 10px;
    overflow: hidden;
    float: left;
}
#in_basket_fixed span {
    display: block;
    position: relative;
    height: 27px;
    line-height: 27px;
    margin: 2px 10px 0 10px;
    padding: 0 7px;
    background: #fbf2cb;
    border-radius: 3px;
    color: #7f7f7f;
    font-size: 13px;
    float: left;
    font-weight: bold;
    visibility: visible;
    text-align: center;
    min-width: 10px;
}

#search_options.fixed #in_basket_fixed.hide span, #in_basket_fixed span {
    display: none;
}
#search_options.fixed #in_basket_fixed span {
    display: block;
}

.popup {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 0 10px 18px;
    min-height: 100px;
    min-width: 100px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 10px #7a7a7a;
    z-index: 20;
}
.popup .column
{
    float: left;
    margin: 0 18px 0 0;
}
.popup li
{
    display: block;
    position: relative;
    margin: 0 0 5px;
    color: #000000;
    font-size: 13px;
}
.popup .link:hover
{
    color: #e31e1d;
}
.popup li a
{ white-space: nowrap; }

.popup.availability li a.lock {
    color: #d7d7d7;
    cursor: default;
    border-bottom: none;
}
.popup.availability li a.lock:hover {
    color: #d7d7d7;
}

.popup li.country
{ font-weight: bold; }
.popup li.city
{ margin: 0 0 2px; }
.popup li.city a
{ margin-left: 10px; font-size: 12px; }

.fancy_link_wrap {
    text-align: center;
    font-size: 17px;
    line-height: 32px;
}
.fancy_link_wrap .size {
    font-size: 14px;
}


.datasheet_preview {
    width: 177px;
    padding: 0;
    margin: 0 0 20px 17px;
    float: left;
}
.datasheet_preview a img {
    width: 177px;
    margin-bottom: 5px;
    border: 1px solid #CCCCCC;
}
.datasheet_preview a {
    font-size: 14px;
}

.filter_block {
    position: relative;
    width: 177px;
    height: auto;
    margin: 0 0 0 17px;
    padding: 10px 0;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    float: left;
    border-radius: 7px;
}
.filter_block.disabled { opacity: 0.5; }

.filter_block .title {
    display: block;
    position: absolute;
    top: -8px;
    left: 37px;
    height: 15px;
    line-height: 15px;
    padding: 0 10px;
    font-size: 11px;
    background: #ffffff;
    z-index: 2;
}
.filter_block ul { margin: 0; float: left; position: relative; padding: 0 10px 0 4px; }
.filter_block ul li {
    position: relative;
    width: 153px;
    padding: 0 2px 6px;
    overflow: hidden;
}
.filter_block ul li > span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: url(/media/i/filter_cut.png) left top repeat-y;
}
.filter_block li .comp_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px;
    color: #303030;
    border-color: #303030;
    white-space: nowrap;
}
.filter_block li p.comp_link {
    margin: 0 0 0 6px;
    color: #888;
}
.filter_block li:first-of-type .comp_link { color: #222; cursor: pointer; }
.filter_block li a.comp_link:hover { color: #e31e1d; border-color: #e31e1d; }
.filter_block li .comp_link.selected {
    padding: 3px 6px;
    margin-left: 0;
    background: #fbf2cb;
    border-radius: 3px;
    border: none;
}
.filter_block .line.hide { display: none; }

.filter_block li.marked { background: red !important; }

.filter_block .main { overflow: visible }

.filter_block .main .cnt {
    position: absolute;
    top: 2px;
    left: 134px;
    padding: 4px;
    line-height: 12px;
    margin-left: 0;
    background: #fbf2cb;
    border-radius: 2px;
    font-size: 11px;
}

#company_info { min-height: 150px; }
#company_info .title { left: 49px; }
#company_info .company {
    display: block;
    position: relative;
    width: 213px;
    overflow: hidden;
    margin: 8px 12px 20px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#company_info .info {
    display: block;
    padding: 0 12px 10px;
    color: #303030;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


/* Table search */

#smile {
    width: 16px;
    height: 16px;
    margin: 7px 15px;
    float: left;
}

#smile.smile {
    display: block;
    background: url(/media/i/controls.png) -36px -174px no-repeat;
}
#smile.sad {
    display: block;
    background: url(/media/i/controls.png) -55px -174px no-repeat;
}

#search_options.fixed #smile { display: none !important; }


.table_wrap { padding: 0 10px; }

#search_result {
    margin-bottom: 30px;
}

table.search {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border-bottom: 1px solid #e1e0dc;
}

table.search + table.search tbody tr:not(.hide) td {
    border-top: none;
}

table.search tbody tr {
    border: none;
}

table.search tbody tr td {
    border-top: 1px solid #e1e0dc;
    border-bottom: 1px solid #e1e0dc;
}

table.search tbody tr .empty {
    border: none;
}

table.search tbody tr td.show {
    border-top: 1px solid #e1e0dc;
    border-bottom: none;
}

table.search tbody tr.checked .empty {
    border-bottom: none;
}

table.search tbody tr:hover {
    background: white;
}
table.search tbody tr.checked {
    background: white;
}

table.search tbody tr .workspace  { cursor: pointer; }

table.search tbody tr.checked .workspace,
table.search tbody tr.checked:hover td.workspace { background: #f0f1ec; }
table.search tbody tr:hover td.workspace  { background: #f8f8f6; }

table.search tbody tr.no_hover.checked td.workspace,
table.search tbody tr.no_hover.checked:hover td.workspace { background: #f0f1ec; }
table.search tbody tr.no_hover:hover td.workspace { background: #ffffff; }


table.search tbody tr:first-child td {
    border-top: none;
}

table.search tr.hide {
    display: none;
}

table.search tr .empty.hide .info {
    display: block;
}

table.search tr.hide {
    display: none;
}

table.search td {
    padding: 10px 15px 10px 10px;
    text-align: right;
    vertical-align: middle;
}
table.search td:first-child {
    padding: 10px 15px;
    text-align: right;
}

table.search thead tr {
    /*background: #fbf2cb;*/
    border-radius: 5px;
}
table.search thead th {
    height: 40px;
    padding: 0 15px 0 10px;
    font-size: 11px;
    color: #8d8d8d;
    text-align: right;
}

table.search thead th:first-child {
    text-align: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
table.search thead th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table.search tbody td.company,
table.search thead th.company {
    /* position: relative; */
    width: 30%;
    padding: 10px 5px 10px 15px;
}
table.search thead th.company {
    padding: 0 5px 0 15px;
}

table.search tbody tr.show:hover td.company.hide .info {
    visibility: visible;
}

table.search tbody td.company.hide .info,
table.search tbody tr.last:hover td.company.hide .info {
    visibility: hidden;
}

table.search tbody td.product,
table.search thead th.product {
    width: 30%;
    vertical-align: middle;
}

table.search tbody td.remote,
table.search tbody td.nobr,
table.search thead th.header.remote,
table.search thead th.header { width: 20%; }

table.search tbody td.availability,
table.search thead th.header.availability { width: 17%; }

table.search tbody td a.start-chat {
    display: none;
    width: 76px;
    text-decoration: none;
    padding: 6px 10px;
    background-color: #6bc41b;
    box-shadow: 0 2px 4px 0 rgba(68,68,68,0.30);
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
}

table.search tbody tr:hover td.chat_online span.avail-info {
    display: none;
}

table.search tbody tr.show:hover td.chat_online a.start-chat {
    display: block;
}

table.search thead th.check {
    width: 20px;
    padding: 0 10px 0 15px;
}

table.search tbody td.company .line {
    line-height: 15px; padding: 0 0 5px;
}
table.search tbody td.check { padding: 0 10px 0 15px; }

table.search tbody .company .info .line a.show_user_info.phone {
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

table.search tbody .company .info .line a.show_user_info > span {
  font-size: 11px;
  font-style: normal;
  color: #037ec4;
}

table.search tbody .company .info .line a.show_user_info > span:hover {
  color: #e31e1d;
}

table.search tbody .company .info .line img {
    margin-bottom: -3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

table.search tbody .company span {
    display: block;
    font-style: italic;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 15px;
}
table.search tbody .company .title {
    font-size: 13px;
    display: inline;
    font-style: normal;
    color: #595959;
}

table.search thead .product { text-align: left; }
table.search tbody .product {
    text-align: left;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    padding-right: 20px;
    position: relative;
    vertical-align: top;
}
table.search tbody .product > span {
    display: block;
    font-style: italic;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 15px;
}
table.search thead .availability { text-align: left; }
table.search tbody .availability {
    text-align: left;
    font-size: 13px;
    color: #303030;
}

table.search .check .check_wrap {
    display: block;
    position: relative;
    margin-left: 8px;
}
table.search .check.hide .check_wrap { visibility: hidden; }

table.search td.check { padding: 0 10px 0 5px; width: 20px; }
table.search th.check { padding: 0 10px 0 5px; }

table.search td.check:first-child { padding: 0 10px 0 15px; width: 20px; }
table.search th.check:first-child { padding: 0 10px 0 15px; }

table.search tbody td { height: 21px; font-size: 17px; color: #393939; }
table.search tbody td a { font-size: 13px; }
table.search tbody td span { font-size: 13px; color: #303030; }
table.search tbody td span.date { color: #111111; }
.tip_check {
    position: absolute;
    top: -63px;
    left: 4px;
    width: 148px;
    height: 61px;
    background: url(/media/i/tip_check.png);
    z-index: 5;
}
table.simple .nobr,
table.search .nobr {
  white-space: nowrap;
  font-size: 14px;
}

table.simple .nobr div.multiple-price,
table.search .nobr div.multiple-price {
    font-size: 11px;
}

table.simple .nobr div.multiple-price > span,
table.search .nobr div.multiple-price > span {
    color: #8d8d8d;
    font-size: 11px;
}

table.search tbody tr .custom_checkbox { background-position: 0 -37px; }
table.search tbody tr.checked .custom_checkbox { background-position: -17px -37px; }

table.search.basic-interface tbody tr.muted td {
    color: #AAA;
}

/* Белый/черный список поставщиков */
#company_card_popup .title_block .user_rating,
table.search tbody .company .user_rating {
    display: inline-block;
    position: relative;
    height: 20px;
}

table.search tbody .company .user_rating {
    top: 8px;
    right: 6px;
}

#company_card_popup .title_block .user_rating {
    top: 7px;
    right: 1px;
}

#company_card_popup .title_block .user_rating .thumb-up-filled,
#company_card_popup .title_block .user_rating .thumb-up,
#company_card_popup .title_block .user_rating .thumb-down,

table.search tbody .user_rating .thumb-up-filled,
table.search tbody .user_rating .thumb-down-filled,
table.search tbody .user_rating .thumb-up,
table.search tbody .user_rating .thumb-down {
    display: inherit;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

table.search tbody .company .hide_rating {
    display: none;
}

.thumb-up {
    background: url(/media/i/white-list.png) 0 1px no-repeat;
}

#company_card_popup .title_block .user_rating {
    margin-right: 3px;
}

#company_card_popup .title_block .user_rating .thumb-up {
    margin-right: -2px;
}

#company_card_popup .title_block .user_rating .thumb-down {
    margin-right: 2px;
}

#company_card_popup .title_block .user_rating .thumb-up-filled {
    margin-right: 2px;
}

.thumb-down {
    background: url(/media/i/black-list.png) 5px 5px no-repeat;
}

.thumb-up-filled {
    background: url(/media/i/white-list.png) 0 1px no-repeat;
}

.unregistered {
    position: relative;
}

.registration {
    visibility: hidden;
    background: #FFFFFF;
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    width: 250px;
    right: 23px;
    top: 10px;
    z-index: 999;
}

#message_unregistered  {
    position: relative;
}

#message_unregistered div {
    margin: 25px 15px;
    text-align: center;
}

#message_unregistered .close {
    right: 5px;
    top: -25px;
}

/* News list */
#news_list { width: 719px; margin: 23px 20px 0; }
#news_list .item {
    overflow: hidden;
    width: 709px;
    margin: 0 0 18px;
    padding: 20px 0 0;
    border-top: 1px solid #e1e0dc;
}
#news_list .item:first-child { border-top: none; }
#news_list .item .img { width: 70px; float: left; }
#news_list .item img { width: 100%; }
#news_list .item .text { margin: 0; }
#news_list .item .img + .text { margin-left: 88px; }
#news_list .item .company {
    padding-top: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #303030;
}
#news_list .item .date {
    padding-bottom: 6px;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
    color: #a4a4a1;
}
#news_list .item .link { font-size: 17px; font-weight: bold; }

.heading {
    position: relative;
    width: 239px;
    margin: 0 25px 15px;
    padding: 10px 0;
    border: 1px solid #cfcfcf;
    float: right;
    border-radius: 7px;
    z-index: 2;
}
.heading ul { padding: 0 4px; }
.heading li { padding: 0 12px 6px; }
.heading a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #303030;
    text-transform: uppercase;
}
.heading a.selected {
    padding: 6px;
    background: #fbf2cb;
    margin-left: -6px;
    border-radius: 3px;
    text-decoration: none;
}
.heading a:hover { color: #e31e1d; }
.wrap .heading { margin-right: 0; margin-top: -46px; padding-top: 14px; }

/* Text page */
.column_left {
    margin-right: 271px;
    height: 100%;
}
.column_right {
    width: 241px;
    float: right;
    height: 100%;
}


#news_view .img { width: 70px; float: left; }
#news_view .img img { width: 100%; }
#news_view .text { width: 620px; margin-top: 29px; }
#news_view .img + .text { margin-left: 88px; }


/* Vacancy list */
#vacancy_list { width: 719px; margin: 25px 20px 0; }
#vacancy_list .item {
    width: 709px;
    margin: 10px 0 33px;
    padding: 0 5px;
    border-top: 1px solid #e1e0dc;
}
#vacancy_list .item .date {
    margin: 24px 0 0;
    font-size: 11px;
    font-style: italic;
    color: #8d8d8d;
}
#vacancy_list .item .vacancy_title {
    display: block;
    margin: 0 0 26px;
    padding: 3px 0 0;
    font-size: 17px;
    font-weight: bold;
}

/*
#vacancy_list .item .vacancy_title:first-letter { text-transform: uppercase; }
*/


#vacancy_list .item .line { margin: 0 0 15px; overflow: hidden; }
#vacancy_list .item .title {
    width: 178px;
    font-weight: bold;
    float: left;
}
#vacancy_list .item .val {
    margin: 0 0 0 208px;
}


/* Vacancy info */
#vacancy_card { width: 719px; margin: 25px 20px 0; }
#vacancy_card .vcancy_info {
    width: 709px;
    margin: 10px 0 19px;
    padding: 0 5px;
}
#vacancy_card .vcancy_contacts {
    width: 709px;
    margin: 10px 0 33px;
     padding: 20px 5px 0;
    border-top: 1px solid #e1e0dc;
}
#vacancy_card .line { margin: 0 0 15px; overflow: hidden; }
#vacancy_card .line.date { margin-bottom: 32px; }
#vacancy_card .title {
    width: 178px;
    font-weight: bold;
    float: left;
}
#vacancy_card .val {  margin: 0 0 0 208px; }
#vacancy_card .all_vacancy { font-style: italic; font-size: 13px; color: #595959; }
#vacancy_card .all_vacancy:hover { color: #e31e1d; }


/* Settings */
.settings_block {
    font-size: 17px;
    font-weight: bold;
    color: #303030;
    margin: 30px 0 0 15px;
    padding: 15px 0 0;
    border-top: 1px solid #e1e0dc;
}

#settings_company { width: 100%; margin-top: 25px; }
.settings_items { width: 100%; margin-left: -15px; }
#settings_company .region { margin: 34px 0 33px; }
#settings_company .region, #settings_company .region .text {
    display: block;
    float: left;
}
#settings_company .select {
    display: block;
    position: relative;
    float: left;
    font-size: 15px;
    margin: 3px 14px 0 4px;
    padding-right:  16px;
}
#settings_company .select .link { color: #037ec4; border-color: #037ec4; }
#settings_company .select:hover .link { color: #e31e1d; border-color: #e31e1d; }

#settings_company .select .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
    height: 8px;
    float: right;
    margin: 6px 5px 0;
    background: url(/media/i/controls.png) -76px -90px;
}
#settings_company .select:hover .icon { background-position: -76px -99px; }
#settings_company h2 {clear: both;}

#settings_company .popup {
    right: auto;
    top: 90px;
    left: 195px;
}
#settings_company .popup.region { margin: 0; }

.settings_items .column {
    display: block;
    width: 31%;
    padding: 15px 3% 0 0;
    float: left;
    overflow: hidden;
}
.settings_items .column li {
    margin: 0 0 6px;
}
.settings_items .column li label:hover, .settings_items .column li label.checked:hover { background: #f0f1ec; }

.settings_items .column li label {
    display: block;
    position: relative;
    min-height: 21px;
    margin: 0;
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
}
.settings_items .column li label .custom_checkbox {
    margin: 3px 5px 0 0;
}


.settings_items .column li label.checked { background: #f8f8f6; }

.settings_items .column.last { padding-right: 0; }

.settings_items .column li label.checked .custom_checkbox { background-position: -17px -37px; }

.settings_items .column li a { font-size: 15px; }
.settings_items .column li .custom_checkbox { float: left; }
.settings_items .column li input[type='checkbox'] {
    position: absolute;
    left: -999em;
    top: 25px;
}
.buttons {  clear: both; margin: 37px 10px 30px 16px; width: 100%; }
.buttons.settings { margin-left: 15px; }

.buttons .clr { display: block; position: relative; padding-left: 20px; }
.buttons .clr .icon { display: block; position: absolute; left: 0; top: 0; }

h1 > .back {
    display: inline-block;
    position: relative;
    margin: 0 0 0 10px;
    padding: 0 0 0 20px;
    font-size: 13px;
    line-height: 16px;
    top: -3px;
}
h1 > .back .icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 0 10px 0 0;
    background: red;
    overflow: hidden;
    background: url(/media/i/controls.png) -2px -156px no-repeat;
}
h1 > .back:hover .icon { background-position: -27px -156px; }

/* Footer */
#footer {
    position: relative;
    margin: 18px 20px 10px;
    padding: 0 5px;
    border-top: 1px solid #e1e0dc;
    overflow: hidden;
}
#footer .copyright {
    width: 90%;
    margin: 19px 0 5px;
    font-size: 13px;
    line-height: 18px;
    float: left;
}
#footer .not_offer {
    width: 60%;
    margin: 2px 0 12px;
    line-height: 14px;
    font-size: 11px;
    font-style: italic;
    color: #a4a4a1;
    float: left;
}
#toggle-mobile-version {
    display: inline-block;
    border: 1px solid #ECECE7;
    box-sizing: border-box;
    width: 180px;
    height: 32px;
    position: relative;
    top: -10px;
    right: 0;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: #F5F5F2;
    font-size: 13px;
    line-height: 32px;
}
#toggle-mobile-version:hover {
    text-decoration: none;
    color: #E31E1D;
}
#toggle-mobile-version > img {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

#footer .not_offer a { color: #a4a4a1; }
#footer .not_offer a:hover { color: #e31e1d; }

#footer .counters{
    position: absolute;
    right: 5px;
    top: 24px;
}


/* Group add update count */
#basket_cnt_upd {
    position: relative;
    width: auto;
    min-height: 100px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 10px #7a7a7a;
    z-index: 100;
}


#basket_cnt_upd .form-horizontal .control-group { margin-bottom: 20px; position: relative;}
#basket_cnt_upd .form-horizontal .control-label { width: 200px; overflow: hidden; white-space: nowrap; text-align: left; }
#basket_cnt_upd .form-horizontal .controls { margin-left: 220px; text-align: right; }
#basket_cnt_upd .form-horizontal .controls input { width:37px; }
#basket_cnt_upd .form-horizontal { margin: 0; }


#upd_submit { float: right; }

#basket_cnt_upd .close { right: 14px; top: 14px; }

#basket_cnt_upd .one_comp { width: 300px; z-index: 120; padding: 30px; }
#basket_cnt_upd .one_comp .control-group { margin-bottom: 0; }
#basket_cnt_upd .one_comp p { font-size: 13px; margin: 4px 30px; }
#basket_cnt_upd .one_comp .controls { width: 300px; margin: 0; }
#basket_cnt_upd .one_comp .cnt_line {
    position: relative;
    width: 100px;
    float: left;
    margin: 4px 0 0 0;
}

#basket_cnt_upd .some_comp { width: 350px; z-index: 120; padding: 30px; }
#basket_cnt_upd .drag_area {
    height: 80px;
    width: 410px;
    cursor: move;
    background: #f0f0f0;
    margin: -30px 0 0 -30px;
}
#basket_cnt_upd .drag_area.one {
    height: auto;
    padding: 0 0 10px;
    margin-bottom: 15px;
    width: 360px;
}
#basket_cnt_upd h2 { padding: 20px 0 0 30px; }

#basket_cnt_upd .some_comp .fadeout {
    display: block;
    position: absolute;
    left: 185px;
    top: 0;
    width: 15px;
    height: 100%;
    background: url(/media/i/filter_cut.png) left top repeat-y;
}

#basket_cnt_upd .some_comp .all_comp_val {
    width: 37px;
    font-size: 11px;
    height: 16px;
    margin: 0;
    text-align: left;
    position: absolute;
    top: 30px;
    right: 70px;
}

#basket_cnt_upd .some_comp .offers {
    position: absolute;
    bottom: -11px;
    left: 0;
    font-size: 10px;
}

.shadow_box { width: 340px; padding: 0 15px; position: relative; }

#list_container
{
    width: 350px;
    position: relative;
    height: 300px;
    margin: 0 0 20px;
    padding: 0;
}

.shadow_box .shadow
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 15px;
    background: url(/media/i/scroll_shadow.png) left top no-repeat;
    z-index: 5;
}

.shadow_box .shadow.bottom { bottom: 0; top: auto; background-position: left bottom; }

#list_overflow { width: 320px; margin: 15px 0; }

#list_container.scroll #list_overflow {
    width: 320px;
    height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 0 20px;
    padding: 0;
}

#list_container .mCSB_dragger_bar {
    width: 4px;
    background: #cccccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

#list_container .mCSB_dragger_bar:hover {
    background: #878787;
}

#list_container .mCSB_scrollTools .mCSB_buttonUp {
    background-position: 3px 0;
}

#list_container .mCSB_scrollTools .mCSB_buttonDown {
    background-position: 3px -16px;
}

#list_container .mCSB_scrollTools .mCSB_draggerRail { background: #ffffff; }


/* Autocomplete */
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    background: #ffffff;
    border: 1px solid #cccccc;

    font: 12px Arial, Helvetica, sans-serif;
    line-height: 21px;
    font-weight: bold;
    color: #303030;
    text-transform: uppercase;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #fbf2cb;
    background: #fbf2cb;
    font-weight: bold;
    color: #e31e1d;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    color: #c77405;
    text-decoration: none;
}

/* Individual buyers option */
.icon_settings {
    position: relative;
    width: 15px;
    padding: 0 10px;
}

.icon_settings span {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    background: url(/media/i/controls.png) -34px -37px no-repeat;
}


/* Search user status */
#company_card_popup .price_status,
table.search tbody .company .price_status {
    display: inline-block;
    position: relative;
    width: 9px;
    height: 9px;
    background: url(/media/i/controls.png) 0 -233px no-repeat;
    margin: 0 5px;
}
table.search tbody .company .price_status {
    top: 2px;
    left: 1px;
}
#company_card_popup .price_status {
    top: 1px;
    left: 1px;
}

/* Search user status */
#company_card_popup .price_status.status_1,
table.search tbody .company .price_status.status_1 {
   background-position: 0 -233px;
}
#company_card_popup .price_status.status_2,
table.search tbody .company .price_status.status_2 {
    background-position: -11px -233px;
}
#company_card_popup .price_status.status_3,
table.search tbody .company .price_status.status_3 {
    background-position: -22px -233px;
}

#company_card_popup .user_type,
table.search tbody .company .user_type {
    display: inline-block;
    position: relative;
    height: 15px;
    line-height: 15px;
    background: url(/media/i/controls.png) 0 -244px repeat-x;
    margin: 0 0 0 6px;
    padding: 0 5px;
    border-radius: 3px;
    color: #333333;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    cursor: default;
    text-shadow: 0 1px 1px #ffffff;
    box-shadow: 1px 1px 1px #cfcfcf;
}
#company_card_popup .user_type {
    top: -1px;
}
/* Company info popup */
#company_card_popup {
    position: absolute;
    padding: 20px 0 0;
    width: 210px;
    min-height: 250px;
    background: #ffffff;
    z-index: 130;
    box-shadow: 0 3px 10px #7a7a7a;
    border-radius: 8px;
    overflow: hidden;
}
#company_card_popup .padding_wrap {
    width: 180px;
    padding: 0 15px 5px;
}

#company_card_popup .title_block {
    text-align: right;
    font-size: 17px;
    line-height: 21px;
}

#company_card_popup .title_block .line {
    padding: 0 0 5px;
    line-height: 16px;
    font-size: 13px;
}

#company_card_popup .company_info {
    text-align: right;
    color: #212121;
    font-size: 12px;
    line-height: 13px;
    margin: 10px 0 0;
}

#company_card_popup .company_info .line {
    margin: 0 0 10px;
}

#company_card_popup .company_info .line .title { color: #777777; margin: 0 0 3px; }

#company_card_popup .price_info {
    width: 180px;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    border-radius: 8px;
    background: #f8f8f8;
    color: #777777;
    font-size: 11px;
    text-align: right;
}
#company_card_popup .price_info > strong {
    color: #212121;
    font-size: 12px;
}

/* Стрелки сортировки */
img.arrow_up {
    position: relative;
    top: 5px;
}
img.arrow_down {
    position: relative;
    top: 4px;
}

/* Текстовый блок в категориях */
div.category_description--top {
    padding: 25px;
    border: 3px dashed #BEBEBE;
    margin: 25px 0;
}
div.category_description--bottom {
    padding: 25px;
    border: 3px dashed #BEBEBE;
    margin-top: 50px;
}

/* Раздел аккаунта */
div.account__menu {
    height: 35px;
}
div.account__menu:hover {
    cursor: pointer;
    background-color: #DFDEDA;
}
div.account__menu--selected {
    background-color: #dfdeda;
}

div.account__menu a {
    text-decoration: underline;
    color: #000000;
    line-height: 35px;
}
div.account__menu a span {
    display: block;
    height: 35px;
    margin: 10px;
}

div.account__menu--selected a {
    text-decoration: none;
}

/* Datasheet */
.datasheet_link {
    float: right;
    width: 117px;
    line-height: 1em;
    word-break: break-all;
}
.datasheet_icon {
    background-image: url('../i/pdf.png');
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
}
.datasheet_size {
    font-size: 11px;
    color: #8d8d8d;
    margin-top: 3px;
}


/* Однокликовый интерфейс */
.check.workspace {
    text-align: center;
    vertical-align: middle;
}

.icon-phone {
    display: inline-block;
    position: relative;
    background: no-repeat center center url("/media/i/phone.png");
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    top: 4px;
    cursor: pointer;
}

.order_icon, .order_icon--muted {
    display: inline-block;
    background: no-repeat center center url("/media/i/order_oneclick.png");
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    top: 4px;
    margin: 3px 0 0 0;
    opacity: 0.4;
}

.order_loading {
    display: inline-block;
    background: no-repeat center center url("/media/i/ajax_loader_transp.gif");
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    top: 4px;
    margin: 3px 0 0 0;
}
.order_loading.hidden {
    display: none;
}

tr:hover td .order_icon {
    opacity: 1.0;
}

.comp_title {
    display: inline;
    padding: 0;
    margin: 0;
    color: #393939 !important;
    font-size: 17px !important;
    text-decoration: none !important;
    cursor: pointer;
}
.comp_title:hover {
    text-decoration: underline !important;
}

table.search tbody tr .comp_search {
    display: none;
    width: 13px;
    height: 16px;
    background: no-repeat center url('/media/i/item_search.png');
    opacity: 0.4;
}

table.search tbody tr:hover .comp_search {
    display: inline-block;
}

table.search tbody .product .comp_title span {
    display: inline;
    position: relative;
    top: -2px;
    background-color: #FBF2CB;
    border-radius: 3px;
    padding: 3px 5px;
    color: black;
    word-break: normal;
}

/* Other */
.spoil {
    display: none;
}

.spoiler td {
    text-align: left !important;
    border-top: solid 2px transparent !important;
}

.spoiler a {
    text-decoration: none;
    border-bottom: dotted 1px;
    font-size: 11px !important;
}

/* --- Форма получения кол-ва заявок --- */
.components_analysis_wrap {
    margin-top: 30px;
}

.components_analysis {
    width: 400px;
    box-sizing: border-box;
    padding: 20px 25px;
    float: right;
    background: #fbf2cb;
    border-radius: 3px;
}

.components_analysis .main_title {
    margin: 0 0 23px;
    font-weight: bold;
    font-size: 17px;
    color: #303030;
}

.components_analysis .ordinary {
    margin: 10px 0;
}

.components_analysis .file_input_wrap {
    display: block;
    position: relative;
    width: 260px;
    height: 42px;

    color: #fbf2cb;
    background: #fbf2cb;

    outline: none;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.components_analysis .file_input_wrap input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.components_analysis .file_input_wrap .after {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 11px;
    line-height: 37px;
    color: #595959;
}
.components_analysis .file_input_wrap .before {
    position: absolute;
    top: 0;
    left: 0;
    height: 37px;
    line-height: 37px;
    width: 121px;
    margin: 0;
    padding: 0 20px;

    background: #525252;
    border-radius: 5px;
    box-shadow: 0 2px 3px #888888;
    text-shadow: 0 1px 2px #232323;
    color: #ffffff;
    text-align: center;
}
.components_analysis .file_input_wrap:active .before {
    height: 36px;
    margin: 1px 0 0;
    box-shadow: 0 1px 2px #888888;
}
.components_analysis .file_input_wrap:hover .before {
    background: #525252 url('/media/i/button_hover.png') center top no-repeat;
    background-size: 100% 100%;
}

.components_analysis .file_info,
.components_analysis .analysis_button,
.components_analysis .process_status,
.components_analysis .process_status .loader {
    display: none;
    clear: both;
}

.components_analysis .process_status .loader,
.components_analysis .process_status .message {
    display: inline-block;
    vertical-align: middle;
}

.components_analysis .process_status .message {
    max-width: 325px;
}

.components_analysis .analysis_button {
    margin: 30px 0 20px;
}
.components_analysis .analysis_button:active {
    margin: 31px 0 20px;
}
.components_analysis .analysis_button.disabled:active {
    margin: 30px 0 20px;
}

.components_analysis .file_info .cancel_file {
    display: inline-block;
    width: 16px;
    height: 17px;
    background: url('/media/i/controls.png') -36px -90px;
    vertical-align: middle;
}
.components_analysis .file_info .cancel_file:hover {
    background-position: -54px -90px;
}
.components_analysis .file_info .cancel_file.disabled {
    opacity: 0.8;
    cursor: default;
}
.components_analysis .file_info .cancel_file.disabled:hover {
    background-position: -36px -90px;
}

.components_analysis .file_info .title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #303030;
    font-weight: bold;
}

.components_analysis_wrap .left_text {
    margin-right: 450px;
}

.components_analysis_wrap .left_text h2 {
    margin-top: 0;
}

.components_analysis .file_format_error {
    display: none;
    margin: 5px 0 0;

    font-size: 12px;
    color: #e31e1d;
}

/* Результат обработки */
.components_analysis .result {
    margin: 32px 0 0;
    display: none;
}

.components_analysis .result .ready_title {
    display: none;
    margin: 0 0 23px;
    color: #000;
    font-weight: bold;
}

.components_analysis .result .messages {
    color: #000;
    font-weight: bold;
}

.components_analysis .result .messages .item:last-child {
    margin: 15px 0 0;
}

.components_analysis .result .profile_view,
.components_analysis .result .profile_click {
    display: none;
    overflow: hidden;
    width: 100%;
}

.components_analysis .result .messages .digit {
    min-width: 55px;
    float: left;
    padding: 0 15px 0 0;

    text-align: right;
    font-size: 32px;
    line-height: 32px;
}

.components_analysis .result .messages .text {
    margin-left: 70px;
    padding: 3px 0 0;

    font-size: 13px;
    line-height: 14px;
}

.components_analysis .result .more_analysis {
    display: inline-block;
    margin-top: 37px;
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
    border-bottom: 1px dotted;
}
.components_analysis .result .more_analysis:hover {
    border-color: transparent;
}

/* --- Подсказка при наведении --- */

.tooltip {
    display: inline-block;
}
.tooltip.question {
    width: 16px;
    height: 16px;
    background: url('/media/i/tooltip_question.png');
}

/* На главной странице */
#index_components_analysis {
    padding: 0 21px;
    margin: 0 0 54px;
}

#index_components_analysis > .inner {
    margin: 30px 0 0;
}

#index_components_analysis .main_title {
    font-size: 28px;
    color: #303030;
    line-height: 35px;
    font-weight: bold;

}

#index_components_analysis .steps {
    display: table;
    position: relative;
    z-index: 2;
    padding: 1px 0 35px;
    background: #f8f8f6;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 #bebdbb;
}

#index_components_analysis .steps .arrow {
    position: absolute;
    width: 100px;
    height: 70px;
    top: 179px;
    left: 214px;
    background: url('/media/i/analysis_steps_arrow.png');
}

#index_components_analysis .steps .step .icon_number {
    margin: 25px 0 10px;
}

#index_components_analysis .steps .step .icon {
    width: 50px;
    height: 50px;
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
    background: url('/media/i/index_components_analysis_icons.png');
}
#index_components_analysis .step.upload .icon {
    background-position: 0 0;
}
#index_components_analysis .step.analyze .icon {
    background-position: 0 -51px;
}
#index_components_analysis .step.result .icon {
    background-position: 0 -102px;
}

#index_components_analysis .steps .step {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}
#index_components_analysis .steps .upload {
    width: 32%;
    padding: 0 40px 0 32px;
}
#index_components_analysis .steps .analyze {
    width: 31%;
    padding: 0 40px 0 0;
}
#index_components_analysis .steps .result {
    padding: 0 40px 0 0;
}

#index_components_analysis .steps .step .number {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e31e1d;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    font-size: 16px;
    color: #e31e1d;
    line-height: 27px;
    text-align: center;
}

#index_components_analysis .steps .step .title {
    margin: 0 0 4px;
    font-size: 18px;
    color: #595959;
}

#index_components_analysis .steps .step .anot {
    font-size: 15px;
    color: #595959;
    line-height: 21px;
}

.excel_background_block {
    background: url('/media/i/excel_bg.png') 0 0 no-repeat;
    background-size: 100%;
}

#index_components_analysis .excel_background_block {
    position: relative;
    z-index: 1;
    margin: -3px 0 0 0;
}

#index_components_analysis .components_analysis {
    display: block;
    width: 500px;
    float: none;
    margin: 0 0 0 358px;
    padding: 1px 0 30px;
    background: none;
}

#index_components_analysis .components_analysis .file_input_wrap {
    background: none;
    font-size:14px;
    color:#595959;
}

#index_components_analysis .components_analysis .main_title {
    margin: 20px 0 17px;
    font-weight: 400;
}

#index_components_analysis .components_analysis .file_input_wrap {
    height: 50px;
    width: 312px;
}

#index_components_analysis .components_analysis .file_input_wrap .before {
    width: 188px;
    padding: 0;
    height: 100%;
    line-height: 50px;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(35,35,35,0.50);
}

#index_components_analysis .components_analysis .file_input_wrap .after {
    font: 14px/50px Helvetica, Arial, sans-serif;
    color: #595959;
}

#index_components_analysis .components_analysis .file_info .title {
    font-size: 18px;
}

#index_components_analysis .components_analysis .file_info .cancel_file {
    margin: 0 0 0 6px;
}

#index_components_analysis .components_analysis .analysis_button {
    height: 50px;
    padding: 0;
    width: 188px;
    margin: 30px 0 0;
}
#index_components_analysis .components_analysis .analysis_button:active {
    margin: 31px 0 0;
    height: 49px;
}

#index_components_analysis a.button > span {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font: 18px/47px Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(35,35,35,0.50);
}
#index_components_analysis a.button.analysis_button > span {
    line-height: 50px;
}

#index_components_analysis a.button.analysis_button:active {

}
a.button:active { height: 36px; margin: 1px 0 0; box-shadow: 0 1px 2px #888888; }
a.button:active > span { height: 35px; margin: 0 0 1px; }

#index_components_analysis .components_analysis .result {
    margin: 0;
    padding: 1px 0;
}

#index_components_analysis .components_analysis .result .ready_title {
    font: 24px Arial, Helvetica, sans-serif;
    color: #e31e1d;
    margin: 25px 0 11px;
    font-weight: bold;
}

#index_components_analysis .components_analysis .result .messages .digit {
    min-width: 81px;
    line-height: 38px;
}

#index_components_analysis .components_analysis .result .messages .text {
    margin-left: 95px;
    padding: 2px 0 0;
    font-size: 16px;
    line-height: 19px;
}

#index_components_analysis .components_analysis .result .more_analysis {
    margin-top: 29px;
    font-size: 16px;
    line-height: 16px;
}

/* Прогресс обработки, не только для главной */
.components_analysis .process_status {
    line-height: 0;
}

.components_analysis .process_status .message {
    line-height: normal;
    margin: 5px 0 0;
    color: #e31e1d;
    font-weight: bold;
}

.components_analysis .process_status .progress_bar {
    background: #bcbbb9;
    border-radius: 4px;
    width: 150px;
    height: 10px;
    position: relative;
    margin: 14px 0 -5px;
    overflow: hidden;
}

.components_analysis .process_status .progress_bar .inner {
    position: absolute;
    left: 0;
    top: 0;
    background: #757574;
    border-radius: 4px;
    width: 0;
    height: 100%;
}

/* ------------------------------ */

.xls_export {
    cursor: pointer;
    margin: 0 0 1px;
}
#search_options.fixed .xls_export {
    margin-left: 20px;
}
.xls_export button {
    border: 1px solid #c5c5c1;
    background: url(../i/controls.png) 0 -109px repeat-x;
    cursor: pointer;
    padding: 0 16px;
    color: #333333;
    white-space: nowrap;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    border-radius: 5px;
    line-height: 26px;
}
.xls_export button:hover { box-shadow: 0 2px 3px #dfdfdf; }
.xls_export.top { float: left; }
.xls_export.bottom { float: right; margin: 10px 0 0; }

#to_top {
    display: none;
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    position: fixed;
    bottom: 10px;
    margin-left: -18px;
}
#to_top:hover {
    background: #ececec;
}
@media screen and (max-width: 1280px) {
    #to_top {
        margin: 0;
        left: 0;
        bottom: 0;
    }
}

/* Персональные данные */
.personal { color: #888; margin: 0; }
.personal a { text-decoration: underline; }
.personal a:hover { text-decoration: none; }

#order_form .personal {
    float: left;
    width: 300px;
    line-height: 1.2em;
    font-size: 12px;
}
.with_chain h1 {
    margin-bottom: 12px;
}
.with_chain .chain_block {
    text-align: right;
    font-size: 14px;
    color: #e1e0dc;
}
.with_chain .chain_block a {
    text-decoration: none;
    line-height: 1.3em;
    padding: 0;
    font-size: 12px;
}

/* Соц. опрос */
#social_poll_block {
    position: relative;
    padding: 26px 10px;
    width: 440px;
    background: #ffffff;
}
#social_poll_block .close { right: 1px; top: 4px; }

#social_poll_block #social_poll_content_1 {
    display: block;
    text-align: center;
}

#social_poll_block #social_poll_content_2 {
    display: none;
    text-align: center;
}

#social_poll_block #social_poll_content_3 {
    display: none;
}

#social_poll_block #social_poll_content_1 p,
#social_poll_block #social_poll_content_2 p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 26px;
}

#social_poll_block #social_poll_content_1 ul,
#social_poll_block #social_poll_content_2 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#social_poll_block #social_poll_content_1 ul li,
#social_poll_block #social_poll_content_2 ul li {
    display: inline-block;
    margin: 0 10px;
}

#social_poll_form .form-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
}

#social_poll_form .form-item label {
    display: inline-block;
    margin-right: 5px;
}

#social_poll_form .form-item p {
    font-weight: bold;
}

#social_poll_form .form-item:last-child {
    border-bottom: 0;
}

#social_poll_form .form-item:last-child p.info {
    line-height: 1.2;
    font-size: 12px;
    margin: 0;
    float: left;
    width: 300px;
    font-weight: normal;
    margin-top: 5px;
}

#social_poll_form .form-item:last-child a.button {
    float: right;
}

.to_developer {
    position: relative;
    top: -4px;
    left: 7px;
}

.to_developer a {
    font-size: 11px;
    line-height: 14px;
    color: #000;
    text-decoration: none !important;
    border-bottom: 1px dotted;
}
.to_developer a:hover {
    border-color: transparent;
}
#to_developer_success {
    display: none;
    font-size: 12px;
    color: #6bc41b;
    margin: 10px 0 0;
}
#form_developer {
    width: 400px;
    margin: 0;
    padding: 16px 15px 19px 20px;
}

/*
    Popup banner
*/
.popup_subscribe {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.5s ease;
    opacity: 0;
}

.popup_subscribe.opacity {
    opacity: 1 !important;
    transition: all 0.5s ease;
}

.popup_subscribe.hidden {
    display: none;
}

.popup_subscribe_content {
    background: #ffffff;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 26px 1px #8c8c8c;
    position: relative;
    transition: all 0.5s ease;
}

.popup_subscribe_img {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_subscribe_close {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}

