html {
    background-color: #DFDEDA;
}

.a-clear {
    text-decoration: inherit;
    color: inherit;
}
.a-clear:hover {
    text-decoration: inherit;
    color: inherit;
}

a.a-underline {
    text-decoration: underline;
    color: inherit;
}
a.a-underline:focus {
    text-decoration: none;
}

a.search-item {
    display: block;
    text-decoration: inherit;
    color: inherit;
    box-shadow: #BDBCBC 0 2px 2px;
}
a.search-item:focus,
a.search-item:active {
    opacity: 0.5;
}

#logo {
    position: absolute;
    top: 20%;
    left: 1em;
    right: 1em;
    margin-top: -1.5em;
    height: 3em;
    background: url('/media/i/logo.png') center center no-repeat;
    background-size: contain;
}

#mobile-index-search-container {
    position: absolute;
    top: 40%;
    left: 1em;
    right: 1em;
    height: 4em;
    margin-top: -2em;
}
#mobile-index-search {
    position: relative;
    height: 3em;
    margin-bottom: 0.5em;
    width: 100%;
}
#mobile-index-search input {
    height: 3em;
    width: 100%;
}
#mobile-index-search button {
    height: 3em;
    width: 3em;
    background-color: #555;
}
#mobile-index-search-description {
    text-align: center;
    font-size: 0.95em;
    height: 1em;
    font-weight: bold;
    color: #8E8E8E;
}

#mobile-telegram-promo {
    position: absolute;
    top: 70%;
    left: 1em;
    right: 1em;
    margin-top: calc(-26px - 1.75em);
    height: calc(52px + 3.5em);
    text-align: center;
    background: no-repeat center top url('/media/i/telegram-logo-mobile.png');
    padding-top: 52px;
}
#mobile-telegram-promo.inner-pages {
    margin: 30px auto;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}
#mobile-telegram-promo > h2 {
    font-size: 1.5em;
    margin: 0.125em 0;
    padding: 0;
    color: #555555;
}
#mobile-telegram-promo a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
#mobile-telegram-promo a:hover {
    text-decoration: none;
}

table.mobile-search-item {
    width: 100%;
    margin-top: 0.6em;
}
table.mobile-search-item tr {
    cursor: pointer;
}
table.mobile-search-item tr > td:first-child {
    font-size: 1.3em;
    padding: 0.6em;
    font-weight: bold;
    vertical-align: middle;
    background-color: #FFF;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    word-break: break-all;
}
table.mobile-search-item tr > td:last-child {
    position: relative;
    font-size: 1.3em;
    padding: 0.6em;
    width: 2.5em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #FBF2CB;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-left: solid 1px #EEE;
}
table.mobile-search-item tr > td.bg-5 {
    background-color: #FBF2CB;
}
table.mobile-search-item tr > td.bg-4 {
    background-color: #FCF6DB;
}
table.mobile-search-item tr > td.bg-3 {
    background-color: #FCF7E1;
}
table.mobile-search-item tr > td.bg-2 {
    background-color: #FDFAEB;
}
table.mobile-search-item tr > td.bg-1 {
    background-color: #FAF9F3;
}
table.mobile-search-item tr > td:last-child > div {
    position: absolute;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
}

.mobile-search-user-item {
    display: block;
    text-decoration: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 0.6em;
    background-color: #FFFFFF;
    border: solid 1px #CCC;
    border-radius: 0.3em;
    box-shadow: #BDBCBC 0 3px 3px;
    margin-top: 0.6em;
    cursor: pointer;
}
.mobile-search-user-item:focus,
.mobile-search-user-item:active {
    opacity: 0.5;
}
.mobile-search-user-item table {
    width: 100%;
}
.mobile-search-user-item td.user-title {
    padding-bottom: 0.8em;
    padding-right: 1em;
    word-break: break-all;
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: bold;
}
.mobile-search-user-item td.stock-delivery {
    text-align: right;
    vertical-align: top;
    padding-bottom: 0.8em;
}
.mobile-search-user-item td.stock-delivery span {
    float: right;
}
.mobile-search-user-item td.stock-delivery span + span {
    margin-right: 10px;
}

.mobile-search-user-item td.stock-delivery .stock {
    background-color: #91CF00;
    color: #FFFFFF;
    border-radius: 0.2em;
    padding: 0.3em 1em;
    font-size: 0.85em;
}
.mobile-search-user-item td.stock-delivery .delivery {
    background-color: #999;
    color: #FFFFFF;
    border-radius: 0.2em;
    padding: 0.3em 1em;
    font-size: 0.85em;
}
.mobile-search-user-item td.description {
    font-size: 0.95em;
    vertical-align: top;
    color: #686868;
}
.mobile-search-user-item td.price {
    text-align: right;
    vertical-align: top;
    font-size: 0.95em;
    padding-left: 0.8em;
    white-space: nowrap;
}

.mobile-search-user-info {
    background-color: #555555;
    color: #FFF;
    margin: 0.6em -1em;
}
.mobile-search-user-info .user-info-header {
    position: relative;
    text-align: center;
    padding: 1em 0;
}
.mobile-search-user-info .user-info-header .comp-title {
    padding: 0 2.8em;
    font-size: 1.2em;
    font-weight: bold;
}
.mobile-search-user-info .user-info-header .price-date {
    font-size: 0.95em;
}
.mobile-search-user-info .user-info-header .close-btn {
    position: absolute;
    top: 0.6em;
    right: 0.5em;
    height: 1em;
    width: 1em;
    font-size: 2em;
    color: #CCC;
}
.mobile-search-user-info .user-info-header .close-btn span {
    cursor: pointer;
}
.mobile-search-user-info .comp-info table {
    width: 100%;
}
.mobile-search-user-info .comp-info table tr {
    font-size: 1.2em;
    font-weight: bold;
}
.mobile-search-user-info .comp-info td.delivery {
    /*width: 50%;*/
    text-align: center;
    vertical-align: top;
    color: #FFF;

    width: 100%;
    display: flex;
    flex-direction: column;
}
.mobile-search-user-info .comp-info td.delivery > div {
    /*display: flex;*/
    /*flex-direction: column;*/
}
.mobile-search-user-info .comp-info td.delivery .stock {
    background-color: #91CF00;
    padding: 0.6em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
}
.mobile-search-user-info .comp-info td.delivery .remote {
    background-color: #999;
    padding: 0.6em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
}
.mobile-search-user-info .comp-info td.price {
    width: 50%;
    text-align: right;
    vertical-align: middle;
    background-color: #777;
    color: #FFF;
    font-size: 0.9em;
    padding: 0.6em;
    font-weight: normal;
}
.mobile-search-user-info .comp-info {
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
}
.mobile-search-user-info .comp-info .delivery {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.mobile-search-user-info .comp-info .delivery .stock {
    background-color: #91CF00;
    padding: 0.6em;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.mobile-search-user-info .comp-info .delivery .remote {
    background-color: #999;
    padding: 0.6em;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.mobile-search-user-info .comp-info .price {
    width: 50%;
    background-color: #777;
    color: #FFF;
    font-size: 0.9em;
    padding: 0.6em;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.price span.glyphicon {
    font-size: 80%;
}
.mobile-search-user-info .description {
    padding: 1em;
}
.mobile-search-user-info .user-info {
    background-color: #464646;
    padding: 1em;
}
.mobile-search-user-info .user-info .country-city {
    font-size: 0.9em;
}
.mobile-search-user-info .user-info .user-title {
    font-weight: bold;
}
.mobile-search-user-info .user-info .user-www,
.mobile-search-user-info .user-info .user-email {
    padding-top: 0.6em;
}
.mobile-search-user-info .user-info .user-www span.glyphicon,
.mobile-search-user-info .user-info .user-email span.glyphicon {
    position: relative;
    top: 0.2em;
    margin-right: 0.3em;
    color: #3DAFD5;
}
.mobile-search-user-info .user-info .user-www a,
.mobile-search-user-info .user-info .user-email a {
    text-decoration: underline;
    font-weight: bold;
    color: #3DAFD5;
}
.mobile-search-user-info .user-phone {
    display: block;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #464646;
    color: #FFF;
    text-decoration: none;
}
.mobile-search-user-info .user-phone:active {
    opacity: 0.5;
}
.mobile-search-user-info .user-phone .phone-number {
    border-top: solid 1px #555;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 1.5em;
    font-weight: bold;
}
.mobile-search-user-info .user-phone .phone-number span.glyphicon {
    position: relative;
    top: 0.2em;
    margin-right: 0.3em;
}
.mobile-search-user-info .user-phone .phone-number .number {
    color: #FFF;
    text-decoration: underline;
}
.mobile-search-user-info .user-phone .accept-btn {
    position: absolute;
    bottom: 0.7em;
    right: 0.5em;
    height: 1em;
    width: 1em;
    font-size: 2em;
    color: #CCC;
}

#footer {
    position: absolute;
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.5em;
    text-align: center;
    color: #8E8E8E;
}

#mobile-header {
    position: fixed;
    height: 4em;
    background-color: #F8F7F5;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: #BDBCBC 0 3px 3px;
    z-index: 10;
}
#header-wrap {
    position: relative;
    height: 4em;
    padding: 0;
}
#header-btn-left {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
}
#header-input {
    position: absolute;
    left: 4em;
    right: 4em;
    top: 0;
    bottom: 0;
    padding-top: 0.35em;
}
#header-input > input {
    margin-top: 0.2em;
    background: none;
    padding-bottom: 0em;
    font-size: 1.5em;
    border: none;
    border-bottom: solid 1px #CCC;
    outline: none;
    width: 100%;
}
#header-btn-right {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    height: 3em;
    width: 3em;
}
#mobile-header .nav-button {
    display: block;
    box-sizing: border-box;
    height: 2em;
    width: 2em;
    padding: 0.45em;
    border: none;
    margin: 0;
    box-shadow: none;
    background: none;
    line-height: 1.5em;
    font-size: 1.5em;
    color: #464646;
}
#mobile-header .nav-button:focus {
    background-color: #CCC;
    outline: none;
}

#content-mobile {
    margin-top: 5em;
    margin-bottom: 3.5em;
    padding: 0 1em;
    background-color: #DFDEDA;
}

#mobile-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3em;
    padding: 1em 0;
    line-height: 1em;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #464646;
    color: #EEE;
    text-align: center;
}

.plank {
    position: relative;
    width: 100%;
    background-color: #FFF;
    min-height: 3em;
    box-shadow: #BDBCBC 0 3px 3px;
    border: solid 1px #CCC;
    border-radius: 0.2em;
}
.plank + .plank {
    margin-top: 1em;
}
.plank .plank-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 2.5em;
    font-size: 1.5em;
    padding: 0.3em;
}
.plank .plank-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: 2.5em;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 0.3em;
    text-align: center;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: lightyellow;
    border-left: solid 1px #CCC;
}

.price-status-icon {
    display: inline-block;
    position: relative;
    width: 9px;
    height: 9px;
    background: transparent url('/media/i/controls.png') no-repeat scroll 0px -233px;
    margin: 0px 5px;
}
.price-status-icon.status_1 {
    background-position: 0 -233px;
}
.price-status-icon.status_2 {
    background-position: -11px -233px;
}
.price-status-icon.status_3 {
    background-position: -22px -233px;
}