/* Слайдер на главной */
#block_slider, #block_slider * {
    box-sizing: border-box;
    outline: none;
}
#block_slider {
    padding: 0 21px;
    margin-bottom: 105px;
}
#block_slider .main_title {
    font-size: 28px;
    color: #303030;
    line-height: 35px;
    font-weight: bold;
}
.block-slider {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}
.block-slider_left {
    width: 380px;
    margin-right: 40px;
}
.block-slider_right {
    width: 565px;
    position: relative;
}
.block-slider_left > p {
    margin: 0 0 26px 0;
    font-weight: 700;
    width: 350px;
    font-size: 17px;
    line-height: 1.2em;
    color: #303030;
}
.block-slider_menu {
    list-style-type: none;
}
.block-slider_menu-item {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1em;
    cursor: pointer;
}
.block-slider_menu-item > span {
    padding: 4px 10px;
    display: inline-block;
    color: #303030;
    font-size: 95%;
    font-weight: 700;
    letter-spacing: .5px;
    position: relative;
}
.block-slider_menu-item > span:after {
    position: absolute;
    content: '';
    display: block;
    border-bottom: 1px dotted;
    left: 10px;
    right: 10px;
}
.block-slider_menu-item + .block-slider_menu-item {
    margin-top: 20px;
}
.block-slider_menu-item.active > span {
    background: #FBF2CB;
}
.block-slider_menu-item:hover > span:after,
.block-slider_menu-item.active > span:after {
    border-color: transparent;
}
.slider-tab_item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.slider-tab_item.active {
    display: block;
}
.slider-tab_img {
    box-shadow: 0 2px 6px 1px #888;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 0 15px;
    width: 565px;
    height: 436px;
}
.slider-tab_img > img {
    display: block;
}
.slider-tab_text {
    font-style: italic;
}