#forum-list .title {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 3px;	
}
#forum-list .pinned {
	padding-left: 20px;
	background: url(/i/icons/icon_star.gif) no-repeat left top;
}
#forum-list .from { font-size: 90%; color: gray; }
#forum-list .anot { line-height: 1.2em; color: #444444; }
#forum-list .nmess {	font-size: 110%; }
#forum-list .date { color: gray;	}

.forum-message {
	padding: 13px;
	background-color: #F2F2F2;
	border: 1px solid #D5D5D5;
	margin-bottom: 20px;
	line-height: 1.2em;
}
.forum-message .func {
	text-align: right;
	margin: -5px 0 -5px 0;
	color: gray;
}
.forum-message .from { margin-bottom: 6px; }
.forum-message .from strong {	font-size: 110%; }
.forum-message .from span { color: gray; }

.forum-topic {
	margin-top: 30px;
	background-color: #EBEBEB;
	border: 2px solid #C5C5C5;
}
.forum-topic h1 {
	margin: 0px 0px 15px 0px;
	color: black;
	font-size: 20px;
	line-height: 1em;
}

