#tbl_params td {
	padding: 7px 0px;
}

.price_type { margin: 0px 0px 15px 0px; padding: 0px; }
.price_type li {
	list-style: none outside none;
	margin-bottom: 3px;
}

#status { font-size: 14px; color: gray; margin-bottom: 10px; }

#sortable { margin: 10px 0px 20px 0px; }
#sortable th {
	background-color: #3967C2;
	text-align: center;
	color: White;
	font-weight: bolder;
	padding: 3px;
}
#sortable td {
	vertical-align: center;
	height: 25px;
}

.select_column {
	padding: 2px 5px 1px 0;
	background: url(../../i/price_field.gif) no-repeat right center;
}
.select_column select {
	width: 95%;
}

.example_column {
	border: 1px solid gray;
	padding: 1px 5px;
}


.settings_delete, .export_price_option { margin: -5px 0px 15px 20px; padding: 0px; }
.settings_delete li, .export_price_option li {
	list-style: none outside none;
	margin-bottom: 3px;
}

#tooltip {
    position: relative;
	background: #E7EFF5;
	border: 1px solid #627BA6;
	color: #2E3652;
	margin: 7px;
	padding: 5px 7px;
	position: absolute;
	visibility: hidden;
    z-index: 3;
}

#price_legend {
	 color: gray;
	 text-align: center;
	 vertical-align: bottom;
	 background-color: #ECECEC;
}
#price_legend_name {
	font-weight: bold;
	font-size: 13px;
}

/* categories-form */
#categories td { vertical-align: top; }

#search_form { margin-bottom: 20px; }
#search_form input { width: 60%; margin-right: 10px; }
#search_form button { margin-right: 0px; }

#comp_count_box {
    position: relative;
    margin-bottom: -20px;
    margin-left: 200px;
    text-align: right;
    padding-right: 10px;
    color: #DFDFDF;
    z-index: 2;
}

#check_all_box {
    position: relative;
    padding: 3px 7px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: gray;
    color: white;
    z-index: 1;
}

#comp_list {
    padding: 5px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 450px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
}

#comp_list_loading {
    text-align: center;
    margin-top: 150px;
    font-size: 155%;
}

#comp_list table { width: 100%; }
.ie #comp_list table { width: 94%; }

#comp_list td {
    padding: 4px 2px;
    border-bottom: 1px dotted gray;
    vertical-align: top;
}
#comp_list .check { width: 20px; }
#comp_list .comp { width: 55%; padding-top: 6px; }
#comp_list .comp strong { line-height: 1.1em; }
#comp_list .comp span {
    display: block;
    line-height: 1em;
    margin-top: 3px;
    font-style: italic;
    font-size: 90%;
}
#comp_list .category {
    text-align: right;
    color: gray;
    font-size: 80%;
}

#comp_equal div { margin-bottom: 5px; }

#categories_list strong { line-height: 1em; }
#user_cats {
     width: 99%;
     height: 560px;
     margin-top: 5px;
}

#linked_save_loading { color: gray; }


