<select name="category_after" id="category_after">
	<option value="0" selected>-</option>
	{foreach from=$list item=item name=subcats}
	<option value="{$item.id|escape}">{$item.title|escape}</option>
	{/foreach}
</select>