<h2>Синтаксис поисковых запросов</h2>
<ul>
{*
<li>Не делайте длинных запросов в естественной форме, как поисковым машинам типа <a href="http://www.yandex.ru">Яндекс</a> или <a href="http://www.google.ru">Google</a>.
Поиск компонентов производится по их партномеру(наименованию).
Пример:
	<ul>
		<li>Правильно: <a href="/TOP%20100-112/">TOP 100-112</a></li>
		<li>Неправильно: <a href="/search/Купить%20блок%20питания%2012%20в/">Купить блок питания 12 в</a></li>
	</ul>
</li>
*}

<li>В запросе учитываются только цифро-буквенные символы. Все остальные символы игнорируются</li>

<li>В запросе допустимо использовать следующие метасимволы:
	<ul>
		<li> * - заменяет любое количество символов</li>
		<li> ? - заменяет один символ</li>
		<li>Метасимволы * и ? могут быть использованы в любом месте поискового запроса и в любом количестве</li>
	</ul>
</li>

<li>Примеры:
	<ul>
		<li><a href="/т310/">т310</a> - эквивалентен *т310*, поиск по подстроке в любой части наименования</li>
		<li><a href="/search/кт310*/">кт310*</a> поиск с начала наименования</li>
		<li><a href="/search/кт310%3Fб*/">кт31?б*</a></li>
		<li><a href="/search/кт310%3F/">кт310?</a></li>
		<li><a href="/search/кт3*0%3F/">кт3*0?</a></li>
		<li><a href="/search/кт3%3F%3F%3Fб*89/">кт3???б*89</a></li>
		<li>Экспериментируйте!</li>
		
	</ul>
</li>

</ul>
{*
<h2>Расширенная информация по языку запросов</h2>
<a name="forexpert"></a>
<ul>
	<li>Логически значимыми частями наименования компонента считаются символы или группы символов одного типа (символьные либо цифры) разделенные символами разделителями, либо группы символов разного типа
	соседствующие друг с другом.<br />
	Пример:
	<ul>
		<li>at89c2051-24p/i состоит из следующих частей: "at 89 c 2051 24 p i"</li>
		<li>max232cpe состоит из следующих частей: "max 232 cpe"</li>
	</ul>
	При выполнении поискового запроса учитывается только последовательность частей запроса, без учета расстояния между ними.
	</li>
	<li>Для более точного задания поисковой фразы необходимо требуемую фразу заключать в пару двойных кавычек. Таких фраз в запросе может быть несколько.<br />
	Пример:
	<ul>
		<li>Запрос <a href="/s100f24">s100f24</a> даст результаты</li>
		<li>Запрос <a href="/search/%22s100f24%22">"s100f24"</a> не даст результатов</li>
		<li>Запрос <a href="/search/%22s-100f-24%22">"s-100f-24"</a> даст результаты</li>
	</ul>
	</li>
</ul>*}