<h2>Кто может участвовать в поиске</h2>
<p>
    Мы принимаем к участию в поиске склады юридических лиц, занимающихся продажей электронных компонентов. Обязательными условиями являются возраст юридического лица более двух лет, наличие качественного тематического вебсайта или раздела на вебсайте по продаже электронных компонентов.
    Информация об условиях подключения не является публичной офертой, определяемой положениями Статьи 437 (2) ГК РФ, окончательное решение о подключении склада принимается администратором проекта.
</p>

<h2>Предоставляемые услуги</h2>

<table class="static_table">
    <tr>
        <td style="width: 60%">Участие в поиске</td>
        <td align="center"><span class="check"></span></td>
    </tr>
    <tr>
        <td>Загрузка склада файлом через веб интерфейс (CSV, XLS, XLSX)</td>
        <td align="center"><span class="check"></span></td>
    </tr>
    <tr>
        <td>Автоматический импорт склада с ресурса продавца в XML формате</td>
        <td align="center"><span class="check"></span></td>
    </tr>
    <tr>
        <td>Географический таргетинг</td>
        <td align="center"><span class="check"></span></td>
    </tr>
    <tr>
        <td>Публикация новостной ленты</td>
        <td align="center"><span class="check"></span></td>
    </tr>
    <tr>
        <td>Статистика поисковых запросов</td>
        <td align="center"><span class="check"></span></td>
    </tr>
    <tr>
        <td>Статистика просмотров/переходов на сайт продавца</td>
        <td align="center"><span class="check"></span></td>
    </tr>
    <tr>
        <td>Лимит на загрузку</td>
        <td align="center">3 млн позиций включается в базовую стоимость</td>
    </tr>
</table>

<h2>Сколько это стоит</h2>

<table class="static_table">
    <tr>
        <td style="width: 60%">При оплате за 1 месяц</td>
        <td align="center">Базовая стоимость, включающая лимит на загрузку в 3 млн позиций - 2000 руб</td>
    </tr>
    <tr>
        <td>При оплате одним счетом за 6 месяцев</td>
        <td align="center">Базовая стоимость, включающая лимит на загрузку в 3 млн позиций - 10000 руб</td>
    </tr>
</table>

<h2>Технические подробности</h2>
<p>Автоматизированный обмен данными производится в JSON формате.</p>
<p>Технологические лимиты загрузки:</p>
<ul>
    <li>JSON - 3 млн. строк (может быть расширен за дополнительную плату)</li>
    <li>CSV - 3 млн. строк (может быть расширен за дополнительную плату)</li>
    <li>XLS - 65.535 строк (ограничение формата файла)</li>
    <li>XLSX - 1.048.576 строк (ограничение формата файла)</li>
</ul>
<p>JSON файл, используемый для автоматизации загрузки данных, может быть как статичным файлом, так и генерироваться в реальном времени скриптом. <a href="/media/export_to_json.phps" target="_blank">Посмотреть пример</a> скрипта.
    Для предотвращения утечки конфиденциальных данных мы поддерживаем соединение с аутентификацией по URL JSON файла.</p>
<p>При наличии технических возможностей со стороны клиента мы можем бесплатно адаптировать скрипт генерации JSON под вашу систему.</p>
<p>Если ваш склад подключен к eFind.ru и загружается в CSV формате, мы можем автоматически импортировать его в нашу базу, при этом отпадает необходимость обновлять его одновременно в нескольких местах.</p>
<p>Если ваш склад подключен к eFind.ru онлайн, мы, при наличии технических возможностей со стороны клиента, можем бесплатно адаптировать скрипт eFind для работы с einfo.ru </p>


<div class="components_analysis_wrap">
    {include file = "components_analysis.tpl"}

    <div class="left_text">
        <h2>Техническая поддержка</h2>
        <p>Мы проведем начальное обучение работы с системой. В случае возникновения затруднений мы всегда придем на помощь.</p>

        <h2>Хотите подключить склад?</h2>
        <p>Для подключения к поиску отправьте, пожалуйста, заявку в произвольной форме с ИНН предприятия на адрес <a href="mailto:admin@einfo.ru?subject=Подключение к поиску">admin@einfo.ru</a></p>

        <h2>Остались вопросы? Обращайтесь:</h2>
        <p>
            ООО ИТС «Электронные компоненты»<br>
            тел: <a href="tel:+7(499)579-8509">(499) 579-8509</a><br>
            e-mail: <a href="mailto:admin@einfo.ru">admin@einfo.ru</a>
        </p>
    </div>

    <div class="clear"></div>
</div>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'Hv7O0BMqZL';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->

