<div class="wrap">
    <h1 style="width: 800px;">{$news.title|escape}<a href="/news/" class="back"><span class="icon"></span>Все новости</a></h1>
    <div class="all_info">{$news.date|escape} <span style="padding: 0 10px; font-style: normal;">/</span>
        <a href="/users/id-{$news.user_id|escape}.html">{$news.user_title|escape}</a> <span style="padding: 0 10px; font-style: normal;">/</span>
        <a href="/news/user-{$news.user_id|escape}.html">Другие новости поставщика</a></div>
    <div id="news_view">
        <div class="text static_text">
            {$news.text nofilter}
        </div>
    </div>
</div>

