<h1>Спецификация XML</h1>

<p>Файлы данных в XML формате не должны содержать более 300000 позиций. Для передачи большего количества позиций необходимо исполдьзовать JSON формат.</p>

<pre>
&lt;?xml version="1.0" encoding="utf-8" standalone="yes"?&gt; <b style="color:green"># Укажите правильную кодировку</b>
&lt;price&gt;
  &lt;header&gt;
    &lt;action&gt;sale&lt;/action&gt;	<b style="color:green"># Не изменяйте эту строку!</b>
    &lt;status&gt;all&lt;/status&gt;	<b style="color:green"># Не изменяйте эту строку!</b>
    &lt;uploadtype&gt;replace&lt;/uploadtype&gt;	<b style="color:green"># Не изменяйте эту строку!</b>
  &lt;/header&gt;
  &lt;data&gt;
    &lt;item&gt;
      &lt;title&gt;&lt;![CDATA[<b style="color:red">Наименование компонента</b>]]&gt;&lt;/title&gt;	<b style="color:green"># Обязательное поле, партномер компонента.</b>
      &lt;category&gt;&lt;![CDATA[<b style="color:red">Наименование категории</b>]]&gt;&lt;/category&gt;	<b style="color:green"># Не используется</b>
      &lt;description&gt;&lt;![CDATA[<b style="color:red">Описание компонента</b>]]&gt;&lt;/description&gt;	<b style="color:green"># Желательное поле</b>
      &lt;manufacture&gt;&lt;![CDATA[<b style="color:red">Производитель</b>]]&gt;&lt;/manufacture&gt;
      &lt;prices&gt; # список цен
        &lt;price n="1" c="rur"&gt;<b style="color:red">100.0000</b>&lt;/price&gt;	<b style="color:green"># скидочная шкала</b>
        &lt;price n="5" c="rur"&gt;<b style="color:red">80.00</b>&lt;/price&gt;	<b style="color:green"># атрибут n- количество, c- код валюты</b>
        &lt;price n="15" c="rur"&gt;<b style="color:red">50</b>&lt;/price&gt;	<b style="color:green"># Возможные варианты валюты: rur, usd, eur</b>
      &lt;/prices&gt;
      &lt;mfgdate&gt;<b style="color:red">2007</b>&lt;/mfgdate&gt;
      &lt;docs&gt;&lt;![CDATA[<b style="color:red">http://www.mysite.ru/1.pdf</b>]]&gt;&lt;/docs&gt; <b style="color:green"># ссылка на документацию, не используется</b>
      &lt;comp_url&gt;&lt;![CDATA[<b style="color:red">http://www.mysite.ru/comp1.html</b>]]&gt;&lt;/comp_url&gt; <b style="color:green"># ссылка на страницу, не используется</b>
      &lt;stock&gt;<b style="color:red">2</b>&lt;/stock&gt; <b style="color:green"># если N=-1, то "скрыть склад",</b>
        <b style="color:green"># если N&gt;0, то это кол-во на складе,</b>
        <b style="color:green"># если N=0, то позиция не складская, в этом случае тег stock можно даже не указывать</b>
      &lt;stock_remote&gt;<b style="color:red">2</b>&lt;/stock_remote&gt; <b style="color:green"># если N&gt;0, то это кол-во на удаленном складе</b>
        <b style="color:green"># если N=0, то позиция не складская, в этом случае тег stock_remote можно даже не указывать</b>
      &lt;delivery&gt;<b style="color:red">2</b>&lt;/delivery&gt; <b style="color:green"># если N=-1, то "скрыть кол-во недель для поставки"</b>
        <b style="color:green"># если N&gt;0, то это срок поставки в неделях</b>
        <b style="color:green"># если N=0, то позиция не на заказ, в этом случае тег delivery можно не указывать</b>
    &lt;/item&gt;
  &lt;/data&gt;
&lt;/price&gt;
</pre>


<p style="font-weight: bold;">Контейнер &lt;item&gt; должен генерироваться для каждого компонента, весь синтаксис, за исключением комментариев (то, что после символа #) должен быть сохранен.
Данные, которые должны быть заданы пользователем, выделены красным цветом.</p>

<h1>Спецификация JSON</h1>
{literal}
<pre>
    &#123;
        "title":            "<b style="color:red">Название компонента</b>",
        "category":         "<b style="color:red">Название категории</b>",
        "description":      "<b style="color:red">Описание</b>",
        "manufacture":      "<b style="color:red">Производитель</b>",
        "prices":           "<b style="color:red">[{"c": "rur", "n": 1, "p": "100.0000"},{"c": "rur", "n": 10, "p": "800.0000"}]</b>",
        "mfgdate":          "<b style="color:red">2007</b>",
        "docs":             "<b style="color:red">http://www.mysite.ru/1.pdf</b>",
        "comp_url":         "<b style="color:red">http://www.mysite.ru/comp1.html</b>",
        "stock":            "<b style="color:red">2</b>",
        "stock_remote":     "<b style="color:red">2</b>",
        "delivery":         "<b style="color:red">2</b>"
    &#125;
</pre>
{/literal}
<p style="margin: 0 0 25px; font-weight: bold;">
    Информация о компоненте должна быть записана в одну строку.<br/>
    Каждая новая строка - это новый компонент.<br/>
    Возможные значения склада, валюты, доставки такие же, как у XML<br/>
    Если не будет информации о цене и валюте, то подставятся значения 0 и rur
</p>

<p>В случае возникновения любых вопросов по работе проекта, пожалуйста, обращайтесь за поддержкой к администратору:</p>
<ul>
<li>По телефону 8&nbsp;(499) 579-8509   </li>
<li>e-mail на адрес <a href="mailto://admin@einfo.ru">admin@einfo.ru</a>&nbsp; </li>
</ul>
