<h1>Инструкция по загрузке данных в систему.</h1>

<p>Данные в систему могут быть загружены:</p>
<ul>
<li>Через веб интерфейс www.einfo.su в текстовом CSV, либо EXCEL 95-2003 форматах</li>
<li>Путем прямого доступа в базу данных MySQL (для получения настроек обратитесь к <a href="mailto:admin@einfo.ru">администратору</a>)</li>
<li>Online запросом со стороны сервера в XML или JSON формате. <a href="http://www.einfo.su/?module=online&action=price_file"><strong>Страница настроек</strong></a>.
<a href="http://www.einfo.su/?module=cp&action=help&doc=online.price_file"><strong>Описание формата данных</strong></a>.</li>
</ul>

<p><h3><strong>Описание загрузки через веб интерфейс www.einfo.su</strong></h3></p>

<p>Для загрузки принимаются файлы:</p>
<ul><li>в текстовом (CSV) формате</li>
<li>в формате MS Excel 2003 (XLS). <strong style="color:red">Внимание!</strong> Данные для загрузки берутся только из первого листа!</li>
</ul>
<p>У пользователя есть своя собственная таблица в базе данных, из содержимого которой в дальнейшем формируется массив данных для отображения на сайте www.einfo.ru. 
Запись в эту таблицу производится через пункт меню <strong>&quot;<a href="http://www.einfo.su/?module=prices&action=upload-form">Загрузка прайс-листов</a>&quot;</strong>, 
чтение из этой таблицы производится через пункт меню <strong>&quot;<a href="http://www.einfo.su/?module=prices&action=export-form">Экспорт данных</a>&quot;</strong></p>


<p>Возможные типы операций:</p>

<ul>
<li>Продажа складских позиций</li>
<li>Продажа позиций &quot;на заказ&quot;</li>
<li>Покупка складских позиций (В данное время не используется)</li>
<li>Покупка позиций &quot;на заказ&quot; (В данное время не используется)</li>
</ul>
<p><strong style="color:red">Внимание!</strong> Складскими считаются позиции имеющие ненулевое значение в поле "количество на складе". 
В случае отсутствия этого поля во входных данных загрузчик изменит тип компонента на заказной, даже если он загружается как складской. </p>

<p>Через веб интерфейс, могут быть <strong>единовременно</strong> занесены данные только в одного типа, склад или заказ. В случае, если необходимо занести данные обоих типов, то манипуляции нужно повторить для каждого типа данных.</p>
<p>Для каждого типа данных склад/заказ имеется три вида обработки, их можно:</p>

<ul>
<li>Полностью заменить</li>
<li>Добавить к существующим</li>
<li>Обновить </li>
</ul>

<p>Действие &quot;<strong>Полностью заменить</strong>&quot; сначала производит удаление данных соответствующего типа из пользовательской таблицы, а затем вставляет в нее данные из файла. </p>
<p>Действие &quot;<strong>Добавить к существующим</strong>&quot; только добавляет записи к уже имеющимся в таблице записям соответствующего типа. При этом уже имеющиеся данные остаются неизменными.</p>
<p>Действие &quot;<strong>Обновить</strong>&quot;&nbsp; только обновляет (изменяет) уже имеющиеся в таблице записи соответствующего типа. Она ничего не удаляет и не добавляет в таблицу новых записей.</p>
<p>Загрузка пользовательского файла производится в несколько этапов:</p><ol>
<li>Вам предлагается выбрать файл. При выборе файла с расширением XML он отправляется на обработку немедленно и загрузка завершается.&nbsp; </li>
<li>Далее предлагается выбрать глобальную группу и тип обработки. Попутно устанавливаются некоторые дополнительные параметры.</li>
<li>Файл загружается на сервер и анализируется в реальном времени. 
Пользователю выводится форма для настройки шаблона, которая имеет четыре колонки. Количество строк в форме настройки шаблона равняется количеству колонок, которые загрузчик нашел в файле.<ul>
<li> В первой колонке дается номер колонки в цифровом и буквенном представлении.</li>
<li> Во второй колонке дается меню для выбора назначения типа поля базы данных.</li>
<li> В третьей и четвертой колонках отображаются две случайно выбранных строки из пользовательского файла.</li></ul></li>
<li>После нажатия на кнопку &quot;Завершить загрузку&quot; данные заносятся в пользовательскую таблицу. До этого момента никакие пользовательские данные не изменяются.</li></ol>

<p>Обновление данных на сайте происходит в течение двух часов. При этом, после обновления, повторная загрузка возможна не ранее чем через шесть часов, 
то есть данные можно загрузить, но они появятся на сайте не ране чем через шесть часов после последнего обновления. </p>




