
button {
    font-weight: normal;
    padding: 5px 10px;
    margin: 5px;
}

#canon__category {
    position: relative;
    height: 26px;
    margin-top: 15px;
}
#canon__category_title {
    position: absolute;
    top: 6px;
    left: 0;
}
#canon__category_input {
    position: absolute;
    top: 0;
    right: -6px;
}
#canon__category_input #form_category_id {
    width: 555px;
    height: 26px;
}

#canon__template {
    position: relative;
    height: 14px;
    margin: 30px 0 10px 0;
}
#canon__template_title {
    position: absolute;
    top: 0;
    left: 0;
}
#canon__template_case {
    position: absolute;
    top: 0;
    right: 0;
}
#canon__template_input textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    margin: 0;
    padding: 2px;
    border: solid 1px #A9A9A9;
}

#regexp_control {
    background-color: #E4E4E4;
    width: 100%;
    padding: 2px;
    border: solid 1px #A9A9A9;
    border-top: none;
    margin-bottom: 15px;
}
#regexp_control #variant_counter span {
    position: relative;
    top: 3px;
    font-size: 22px;
    font-weight: bold;
}
#regexp_control #count_loading {
    position: relative;
    top: 3px;
    display: none;
}

#variant_control {
    width: 100%;
    padding: 2px;
    border: solid 1px #A9A9A9;
}
#variant_control button {
    font-weight: normal;
    padding: 5px 10px;
    margin: 5px;
}
#variant_control select {
    height: 26px;
    margin: 5px;
}
#variant_control input[type=text] {
    height: 23px;
    margin: 5px;
    padding: 0 4px;
    width: 50px;
}

#variant_tips {
    display: none;
    border: solid 1px #A9A9A9;
    border-top: none;
    width: 100%;
    padding: 2px;
    max-height: 250px;
    overflow: auto;
}
#variant_tips_text {
    margin: 10px;
    font-family: monospace;
    word-break: break-all;
}

#canon__template_case a {
    text-decoration: none;
}
#canon__template_case a:hover {
    text-decoration: none;
    border-bottom: dotted 1px;
}
#canon__template_case img {
    position: relative;
    top: 5px;
    margin-left: 7px;
}

#canon__template_title a {
    text-decoration: none;
}
#canon__template_title a:hover {
    text-decoration: none;
    border-bottom: dotted 1px;
}

.tooltip {
    display: none;
    position: absolute;
    background: #E7EFF5;
    border: 1px solid #627BA6;
    color: #2E3652;
    padding: 5px 7px;
    z-index: 3;
    left: 60px;
    top: 0px;
}


#row_collection {
    width: 500px;
    padding: 0;
    margin: -3px;
}

#atom_tips_text {
    width: 100%;
    resize: vertical;
    min-height: 200px;
    word-break: break-all;
    overflow: auto;
}


.tab_control {
    padding: 0;
    margin: 0 -6px 0 0;
    text-align: right;
}
.tab {
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin: 0 0 -1px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: solid 1px #A9A9A9;
    cursor: pointer;
}
.tab-active {
    border-bottom: solid 1px #ffffff;
}
.tab_content {
    border: solid 1px #A9A9A9;
    padding: 7px;
    margin-right: -6px;
}
.tab a {
    text-decoration: none;
}
.tab:hover a {
    text-decoration: none;
    border-bottom: dotted 1px;
}
