/* Common styles */

#chat-modal {
    all: initial;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 560px;
    height: 420px;
    z-index: 900;
    background: #fff;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #363636;
    margin: 0;
    padding: 0;
}

#chat-modal.hidden {
    display: none;
}

#chat-modal.minimized {
    height: 39px;
}

/* header */

#chat-modal .header {
    display: block;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
}

#chat-modal .header span.unread {
    display: inline-block;
    text-decoration: none;
    background-color: #e31e1d;
    border-radius: 50%;
    height: 0;
    line-height: 0;
    width: 10px;
    margin-left: 6px;
    padding: 5px 0;
}

#chat-modal .header span.unread.hidden {
    display: none;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

#chat-modal .header span.unread {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}


#chat-modal .header ul.controls {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 39px;
    line-height: 39px;
    float: right;
}

#chat-modal .header ul.controls li {
    display: inline-block;
    padding-left: 10px;
    opacity: 0.3;
    cursor: pointer;
    height: 22px;
}

#chat-modal .header ul.controls li.toggle-modal {
    padding-left: 40px;
}

#chat-modal .header ul.controls li img {
    width: 16px;
    position: relative;
    top: 4px;
}

#chat-modal .header ul.controls li:hover {
    opacity: 1;
}

#chat-modal .wrapper {
    height: 380px;
}

/* contacts */

#chat-modal .wrapper .contacts {
    float: left;
    width: 219px;
    border-right: 1px solid #e3e3e3;
    height: 100%;
    overflow-x: auto;
}

#chat-modal .wrapper .contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 219px;
}

#chat-modal .wrapper .contacts ul li {
    /*display: block;*/
    min-height: 40px; 
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    color: #037ec4;
    cursor: pointer;
}

#chat-modal .wrapper .contacts ul li.active {
    background-color: #dbf2ff;
}

#chat-modal .wrapper .contacts ul li a.title {
    display: inline-block;
    text-decoration: none;
    width: 136px;
    max-width: 136px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: #037ec4;
    float: left;
}

#chat-modal .wrapper .contacts ul li a.title span.title-common,
#chat-modal .wrapper .contacts ul li a.title span.title-num {
    display: block;
    line-height: 1.2;
}

#chat-modal .wrapper .contacts ul li a.title span.title-common {
    margin-top: 6px;
}

#chat-modal .wrapper .contacts ul li a.title span.title-num {
    font-size: 10px;
    color: #888;
}

#chat-modal .wrapper .contacts ul li a.title span.online {
    display: inline-block;
    text-decoration: none;
    background-color: #91CF00;
    border-radius: 50%;
    height: 0;
    line-height: 0;
    width: 8px;
    margin-right: 6px;
    padding: 4px 0;
}

#chat-modal .wrapper .contacts ul li a.title span.online.no {
    background-color: #bfbfbf;
}

#chat-modal .wrapper .contacts ul li:hover a.title:hover {
    color: #e31e1d;
}

#chat-modal .wrapper .contacts ul li a.total-unread {
    display: inline-block;
    text-decoration: none;
    background-color: #e31e1d;
    border-radius: 50%;
    height: 0;
    line-height: 0;
    width: 20px;
    margin-left: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 9px;
    padding: 10px 0;
    text-align: center;
}

#chat-modal .wrapper .contacts ul li a.total-unread.hidden {
    /* вместо display: none; дублируем полностью стили и меняем: background-color, color */
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    height: 0;
    line-height: 0;
    width: 20px;
    margin-left: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 9px;
    padding: 10px 0;
    text-align: center;
}

#chat-modal .wrapper .contacts ul li.active a.total-unread.hidden {
    background-color: #dbf2ff;
    color: #dbf2ff;
}

#chat-modal .wrapper .contacts ul li img.delete-contact {
    display: none;
    position: relative;
    top: 8px;
    width: 11px;
    padding: 6px 0px 6px 6px;
    margin-left: 4px;
}

#chat-modal .wrapper .contacts ul li:hover img.delete-contact {
    display: inline-block;
}

/* messages */

#chat-modal .wrapper .messages  {
    float: left;
    width: 340px;
    position: relative;
}

#chat-modal .wrapper .messages .alert-overlay {
    position: absolute;
    background-color: #f5f5f5;
    height: 380px;
    width: 340px;
    opacity: 0.8;
    display: none;
}

#chat-modal .wrapper .messages .alert-overlay.active {
    display: block;
}

#chat-modal .wrapper .messages .alert {
    position: absolute;
    height: 100px;
    width: 180px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 25%;
    left: 22%;
    padding: 10px;
    display: none;
}

#chat-modal .wrapper .messages .alert a.close {
    all: initial;
    float: right;
    position: relative;
    height: 12px;
    top: 5px;
}

#chat-modal .wrapper .messages .alert a.close img {
    height: 12px;
    cursor: pointer;
}

#chat-modal .wrapper .messages .alert.active {
    display: block;
}

#chat-modal .wrapper .messages .alert p {
    margin-top: 5px;
    margin-bottom: 20px;
}

#chat-modal .wrapper .messages .alert a.btn-no {
    text-decoration: none;
    font-weight: bold;
    color: #363636;
    margin-right: 10px;
    padding: 7px 0px;
}

#chat-modal .wrapper .messages .alert a.btn-no:hover {
    opacity: 0.9;
}

#chat-modal .wrapper .messages .alert a.btn-yes {
    text-decoration: none;
    font-weight: bold;
    background-color: #363636;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
}

#chat-modal .wrapper .messages .alert a.btn-yes:hover {
    opacity: 0.9;
}

#chat-modal .wrapper .messages  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    height: 320px;
    max-height: 320px;
}

#chat-modal .wrapper .messages  ul li {
    display: block;
    clear: both;
    max-width: 340px;
    margin: 15px 15px 0px 15px;
}

#chat-modal .wrapper .messages  ul li:last-child {
    margin-bottom: 15px;
}

#chat-modal .wrapper .messages  ul li.ms-left {
    float: left;
    background-color: #dbf2ff;
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
}

#chat-modal .wrapper .messages  ul li.ms-right {
    float: right;
    background-color: #fbf4d1;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
}

#chat-modal .wrapper .messages  ul li.ms-left.dummy {
    width: 70px;
}

#chat-modal .wrapper .messages  ul li.ms-left.dummy .loading:after {
    display: inline-block;
    animation: dummy_dots steps(1,end) 1s infinite;
    content: '';
}

#chat-modal .wrapper .messages  ul li.ms-left.srv,
#chat-modal .wrapper .messages  ul li.ms-right.srv {
    font-style: italic;
}

#chat-modal .wrapper .messages  ul li.ms-left.srv a {
    color: #037ec4;
}

#chat-modal .wrapper .messages  ul li.ms-left.srv a:hover {
    color: #e31e1d;
}

@keyframes dummy_dots {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

/* form */

#chat-modal .wrapper .messages .form {
    height: 59px;
    line-height: 59px;
    border-top: 1px solid #e3e3e3;
}

#chat-modal .wrapper .messages .form.hidden {
    display: none;
}

#chat-modal .wrapper .messages .form textarea {
    padding: 10px;
    resize: none;
    border: none; 
    float:left;
    height: 39px;
    width: 260px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #363636;
}

#chat-modal .wrapper .messages .form textarea:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
}

#chat-modal .wrapper .messages .form a.btn-send {
    display: inline-block;
}

#chat-modal .wrapper .messages .form a.btn-send img {
    height: 34px;
    margin: 13px;
}

#chat-modal .wrapper .messages .form-blocked {
    background-color: #eee;
    height: 59px;
    width: 340px;
    text-align: center;
    line-height: 59px;
    border-top: 1px solid #e3e3e3;
    cursor: not-allowed;
    color: #666666;
}

#chat-modal .wrapper .messages .form-blocked.hidden {
    display: none;
}

#chat-sound {
    display: none;
}

/* Styles fixes for: .app-frontend, .app-backend */

#chat-modal.app-backend .header ul.controls li img {
    top: 10px;
}

@-moz-document url-prefix() {
    #chat-modal.app-backend .header ul.controls li img {
        top: 2px;
    }
}