<link href="templates/news/style.css" rel="stylesheet" type="text/css" />

<h1>URL изображения</h1>

<input name="url" id="url" type="text" class="geturl" value="{$url|escape}" />

<p><a href="javascript: history.back()">&larr; вернутьтся назад</a></p>