#images_list td {
	padding: 5px 5px 20px 5px;
	vertical-align: top;
	text-align: center;
	width: 25%;
}
.img_item {	border: 3px solid #E7E7E7; }
#images_list td div { margin: 3px 0 2px 0; }

.geturl {
	font-size: 16px;
	width: 95%;
}





