<p>Einfo.ru - первая отечественная поисковая система по поставщикам электронных компонентов, основана в 1999 году.
Проект актуален и находится в постоянной разработке, что позволят нам сохранять лидерские позиции на рынке. <a href="http://www.liveinternet.ru/stat/einfo.ru/">Наш сайт посещает</a> около 5000 человек в сутки, более 20000 в неделю и 90000 в месяц.
</p>

<h2>Наши уникальные особенности:</h2>
<ul>
<li>Очень быстрый поиск, мы не используем медленных online запросов, поиск ведется по собственной базе данных</li>
<li>Простота и удобство поиска и запроса компонентов</li>
<li>Запросы в один клик, без регистрации, достаточно только работающего емайл адреса</li>
<li>Специальные интерфейсы, для зарегистрированных пользователей, позволяющие работать с корзиной и делать веерные рассылки продавцам</li>
<li>Отсутствие рекламы</li>
<li>Для продавцов - возможность "один раз все настроить и забыть". Возможность полной автоматизации загрузки данных</li>
</ul>

<h2>Уникальные возможности по интеграции вашей базы данных в проект:</h2>
<ul>
<li>Ручная загрузка файла с данными через веб-интерфейс. Мы можем принять данные как в CSV(TXT), так и в формате XLS, XLSX (MS Excel)</li>
<li>Автоматическая загрузка данных с вашего сервера в XML и JSON формате</li>
<li>Мы всегда готовы прийти на помощь в решении технических вопросов по любому варианту подключения</li>
</ul>

<h2>Контакты:</h2>
<p>ООО ИТС «Электронные компоненты»<br/>
тел: <a href="tel:+7(499)579-8509">(499) 579-8509</a><br/>
e-mail: <a href="mailto:admin@einfo.ru">admin@einfo.ru</a>
</p>