<div style="font: 165% Arial; text-align: center; margin-top: 100px; color:red;">
    Ошибка: страница не найдена 
</div>

<div style="font: 140% Arial; text-align: center; margin-top: 10px">
	Попробуйте воспользоваться <a href="/search/">поиском</a> или начните просмотр с <a href="/">главной страницы сайта</a>.
</div>


