<h2>Для чего нужен сервис Einfo.ru?</h2>
<ul>
    <li>Сервис Einfo.ru предназначен для <strong>поиска электронных компонентов</strong> и автоматизированной отправки запросов коммерческих предложений (КП) поставщикам</li>
</ul>

<h2>Как искать?</h2>
    <img src="/media/i/help1.png" style="border:1px solid #e1e0dc; float: right; margin-left: 35px; margin-top: 6px;">
    <ul>
        <li>Введите полный партномер компонента или его часть в поле поиска, обратите внимание на всплывающую подсказку, нажмите кнопку "Найти" или просто Enter</li>
        <li>Если необходимо, уточните результаты поиска при помощи фильтров</li>
        <li>Кликните по нужному комоненту, в открывшейся форме введите количество, имя и емайл</li>
        <li>Нажмите кнопку "Отправить заявку"</li>
        <li>Проверьте свой почтовый ящик и подтвердите запрос</li>
        <li>Если необходимо, ознакомьтесь с детальной <a href="/search/">помощью по поиску</a> на сайте</li>
    </ul>


<h2>Вы снабженец? Зарегистрируйтесь для доступа к профессиональному интерфейсу</h2>
    <img src="/media/i/help2.png" style="border:1px solid #e1e0dc; float: right; width: 70%; max-width: 460px; margin-left: 35px; margin-top: 6px;">
    <ul>
    	<li>Работайте с корзиной как в классическом интернет-магазине</li>
        <li>Добавляйте компоненты в заявку по одному или сразу группой</li>
        <li>Указывайте необходимое количество компонентов как индивидуально, так и для всех сразу</li>
        <li>Удаляйте из выдачи и заносите в "черный список" тех поставщиков, с кем Вам не хочется иметь дело</li>
        <li>Добавляйте в заявку столько компонентов, сколько потребуется</li>
    </ul>