<h2>Размещение рекламы на этом сайте</h2>
<p>Мы готовы рассмотреть предложения по размещению рекламы с бюджетом от 100тыс руб/мес.</p>

<h2>Контакты:</h2>
<p>
ООО ИТС «Электронные компоненты»<br>
тел: <a href="tel:+7(499)579-8509">(499) 579-8509</a><br>
e-mail: <a href="mailto:admin@einfo.ru">admin@einfo.ru</a>
</p>