<div class="static_text">

	<p>
        Формат поисковой выдачи для быстрого запроса в один клик доступен всем посетителям сайта без регистрации и включен по умолчанию.
    </p>

    <p>
        Этот интерфейс подойдет тем, тем, кто точно знает партномер и поставщика, а так же менеджерам для анализа рынка.
    </p>
    <img src="/media/i/interface.oneclick.01.png" style="margin-top: 24px; margin-bottom: 24px;">

    <ul>
        <li>Результаты поиска группируются по поставщику</li>
        <li>Вы можете дополнительно отфильтровать результаты поиска по наименованию компонента, по региону поставщика и статусу наличия на складе.</li>
        <li>Любой компонент, видимый на экране, может быть запрошен в один клик.</li>
        <li>Этот формат поисковой выдачи доступен каждому посетителю по умолчанию, без регистрации. </li>
        <li>При отправке первого запроса мы автоматически зарегистрируем Вас в системе. </li>
        <li>Все запросы сделанные через систему доступны для посмотра и анализа в личном кабинете пользователя.</li>
    </ul>

    <img src="/media/i/interface.oneclick.02.png" style="margin-top: 24px; margin-bottom: 24px;">
</div>