<div class="static_text">
    <p>
        Этот интерфейс больше подойдет тому, кто работает с достаточно большими списками номенклатуры и тщательно
        анализирует рынок еще до этапа запроса коммерческого предложения, например снабженцу предприятия.
    </p>

    <p>
        После регистрации в системе Вы можете выбрать в настройках формат поисковой выдачи аналогичный интернет-магазину.
    </p>

    <img src="/media/i/interface.eshop.01.png" style="margin-top: 24px; margin-bottom: 24px;">

    <ul>
        <li>Результаты поиска группируются по поставщику. Вы выбираете конкретный товар у конкретного поставщика. </li>
        <li>Вы можете выбрать товар в любом сочетании поставщик-товар, т.е несколько позиций одного поставщика или один и тот же товар у разных поставщиков и добавить их в корзину. </li>
        <li>Вы можете дополнительно отфильтровать результаты поиска по наименованию компонента, по региону  поставщика и статусу наличия на складе. </li>
        <li>Для облегчения выбора одного и того же товара одновременно у нескольких поставщиков мы предлагаем уникальный механизм группового отбора из результатов поиска. </li>
        <li>Главной особенностью является то, что Вы можете накапливать в корзине необходимые компоненты, редактировать ее и затем в один клик отправить их поставщикам. </li>
        <li>Все запросы сделанные через систему доступны для просмотра и анализа в личном кабинене пользователя.</li>
    </ul>

    <img src="/media/i/interface.eshop.02.png" style="margin-top: 24px; margin-bottom: 24px;">
</div>