<div class="static_text">

	<p>
        После регистрации в системе Вам будет доступен самый простой вариант поиска, в котором не нужно заботиться практически ни о чем. 
    </p>

    <p>
        Вам просто нужен транзистор, наименование которого известно, для Вашего хобби и нет ни времени, ни желания
        анализировать рынок, обзванивать десятки продавцов или убивать субботний день на Митинском рынке?
    </p>
    <img src="/media/i/interface.tender.01.png" style="margin-top: 24px; margin-bottom: 24px;">

    <ul>
        <li>Все, что Вам нужно сделать, это только выбрать необходимые Вам варианты наименования компонента из результатов поиска и указать в заявке свой емайл. </li>
        <li>Система автоматически подберет всех поставщиков, предлагающих данные компоненты и отправит им заявку от Вашего имени. </li>
        <li>Все, что Вам остается сделать - выбрать лучшее предложение. </li>
        <li>В дальнейшем все запросы сделанные через систему доступны для просмотра и анализа в личном кабинене пользователя.</li>
    </ul>

    <img src="/media/i/interface.tender.02.png" style="margin-top: 24px; margin-bottom: 24px;">

</div>