<h2>Пользовательское соглашение</h2>

<h3>Общие положения</h3>
<ul>
	<li>Настоящее пользовательское соглашение (именуемое далее "ПС") заключается между ООО "ИТС "Электронные компоненты", (далее именуемое "Einfo") и юридическими лицами (в случае принятия 
	настоящего соглашения именуемыми далее - "Участники") и регламентирует отношения по пользованию сайтов в сети Интернет с адресами <a href="https://www.einfo.ru">https://www.einfo.ru</a> и
	<a href="http://www.einfo.su">http://www.einfo.su</a>.</li>
	<li>Настоящее предложение является публичной офертой, свидетельством полного и безоговорочного принятия (акцептом) условий которой считается создание регистрационной записи Участника.</li>
	<li>Einfo имеет право в любое время изменить условия ПС. В случае изменения Einfo условий ПС, изменения вступают в силу с момента размещения измененного ПС в сети Интернет по 
	адресу <a href="https://www.einfo.ru/legal-members/">https://www.einfo.ru/legal-members/</a>, если иной срок не указан Einfo при таком размещении.</li>
	<li>Настоящее ПС вступает в силу с момента размещения его в сети Интернет по адресу <a href="https://www.einfo.ru/legal-members/">https://www.einfo.ru/legal-members/</a>, и действует до момента отзыва ПС Einfo.</li>
</ul>

<h3>Основные термины и понятия</h3>
<ul>
	<li>Сайт Einfo - совокупность программно-аппаратных средств Einfo в сети Интернет по адресу <a href="https://www.einfo.ru">https://www.einfo.ru</a> и <a href="http://www.einfo.su">http://www.einfo.su</a>.</li>
	<li>Услуги - предоставление безвозмездно, либо за плату (на возмездной основе) технической возможности для Участника (при условии принятой Einfo регистрации Участника на сайте) посетить 
	сайт <a href="http://www.einfo.su">http://www.einfo.su</a> и загрузить через его интерфейс в базу данных Einfo Материалы, предназначенные для публикации на 
	сайте <a href="https://www.einfo.ru">https://www.einfo.ru</a>.</li>
	<li>Участник - юридическое лицо, размещающее Материалы на сайте на основании ПС.</li>
	<li>Материалы - любые прайс-листы, новости, статьи, тендеры, размещаемые на сайте Участником на платной и бесплатной основе.</li>
	<li>Заявка - автоматизированная отправка запроса от Посетителя Участнику на получение дополнительной информации о рекламируемых товарах.</li>
</ul>

<h3>Предмет ПС</h3>
<ul>
	<li>Предметом ПС является оказание Einfo Услуг Участнику в сети интернет на сайте Einfo в соответствии с условиями настоящего ПС. Перечень Услуг указан в Приложении.</li>
	<li>Доступ к информационным ресурсам Einfo осуществляется на условиях обязательной регистрации Участника на сайте Einfo, а после регистрации - при условии ввода Участником 
	сообщенных им при регистрации и принятых Einfo идентификационных данных, к которым относятся имя и пароль, а также предоплаты Услуг, за исключением времени тестового доступа, указанного в Приложении.</li>
	<li>Размещая Материалы на сайте Участник передает Einfo исключительные права использования материалов любыми способами.</li>
</ul>

<h3>Права Einfo</h3>
<ul>
	<li>Einfo имеет право изменять количество предоставляемых Услуг и порядок их оказания, а также стоимость предоставляемых Услуг, уведомляя Участника о таких изменениях непосредственно на сайте Einfo путем 
	изменения содержания информации об услугах и тарифах, не менее чем за 5 (пять) календарных дней до вступления изменений в силу. Акцептуя ПС, Участник предупрежден о возможности изменений, 
	указанных в настоящем пункте, и согласен с тем, что они будут производиться Einfo в одностороннем порядке.</li>
	<li>В случае использования Услуг в незаконных целях или получения Услуг незаконным способом или нарушения Участником условий настоящего ПС, либо действующего законодательства РФ или 
	общепринятых норм использования сети Интернет, Einfo имеет право в одностороннем порядке расторгнуть ПС, уведомив об этом Участника. ПС считается расторгнутым с момента отправки 
	уведомления посредством электронной почты (e-mail).</li>
	<li>Einfo имеет право уведомлять Участников о новостях своих сервисов, проводимых операциях, связанных с изменением в порядке оказания Услуг, предложениях Услуг, а также делать иные 
	уведомления на страницах Einfo, а также посредством сообщений электронной почты (e-mail), адресованных Участникам.</li>
	<li> Einfo имеет право приостанавливать оказание Услуг на время устранения технических неполадок или иных обстоятельств, препятствующих оказанию Услуг.</li>
	<li>Einfo имеет право приостанавливать оказание Услуг в случае выявления нарушений ПС до устранения нарушений.</li>
	<li>Einfo имеет право отказать пользователю в предоставлении Услуг, в случае предоставления не соответствующих действительности данных при регистрации на сайте.</li>
	<li>Einfo имеет право отказать пользователю в предоставлении Услуг, в случае предоставления не соответствующих действительности данных рекламных материалов.</li>
	<li>Einfo имеет право осуществлять предварительную проверку и/или просмотр, помечать, выбирать, изменять, не допускать к размещению или убирать любой фрагмент или весь материал Участника целиком.</li>
	<li>Einfo имеет право  в любой момент времени отказать Участнику в размещении Материалов или удалить их со своего сайта без специального уведомления Участника.</li>

</ul>

<h3>Einfo обязуется:</h3>
<ul>
	<li>Предоставить Участнику ежедневный и круглосуточный доступ к информационным ресурсам на сайте Einfo.</li>
	<li>Поддерживать сайт Einfo в работоспособном состоянии.</li>
	<li>Предоставить возможность доступа Участника к интерфейсу загрузки Материалов на сайте Einfo при условии ввода Участником его идентификационных данных и предоплаты Услуг.</li>
	<li>Предоставить Участнику возможность получения запросов от Посетителей на дополнительную информацию о рекламируемых товарах в виде сообщений электронной почты.</li>
	<li>Стороны согласны, что моментом оплаты Услуг считается поступление денежных сумм в оплату Услуг на расчетный счет Einfo или уполномоченного Рекламного Агентства eFind.ru.</li>
	<li>Предпринимать общепринятые в сети Интернет технические и организационные меры для обеспечения конфиденциальности информации, получаемой или отправляемой Участником, а также его 
	идентификационных данных и реквизитов.</li>
	<li>В случае возникновения технических неполадок, осуществлять все возможные меры для их устранения в максимально короткие сроки (однако отсутствие неполадок не может быть гарантировано).</li>
</ul>

<h3>Участник вправе:</h3>
<ul>
	<li>Знакомиться с Материалами, размещаемыми на сайте Einfo.</li>
	<li>Размещать на сайте Einfo свои Материалы.</li>
	<li>Обращаться в службу технической поддержки Einfo с рекомендациями, замечаниями и предложениями посредством электронной почты, а также телефонной и других средств связи.</li>
</ul>

<h3>Участник обязуется:</h3>
<ul>
	<li>Исполнять условия Договора и Приложений к нему, требования действующего законодательства РФ и общепринятые нормы использования сети Интернет.</li>
	<li>Не нарушать исключительные права Einfo как правообладателя информационных ресурсов, размещенных на сайте Einfo, как с целью извлечения прибыли, так и в иных целях, в том числе: не 
	изготавливать копии информационных материалов в форме баз данных на любом материальном носителе, не распространять информационные материалы, размещенные на сайте Einfo, как в 
	сети Интернет, так и иным способом, предполагающим получение доступа к таким материалам неограниченного круга лиц, а также не совершать иного использования информационных ресурсов, 
	размещенных на сайте Einfo, которые относятся к исключительным правам Einfo.</li>
	<li>Хранить присвоенные Участнику идентификационные данные в условиях, исключающих доступ к указанным данным третьих лиц. Любые действия, совершенные на сайте Einfo с использованием 
	идентификационных данных Участника, считаются совершенными самим Участником.</li>
	<li>При регистрации предоставлять правдивую, точную и полную информацию о себе по вопросам, предлагаемым в Анкете, в том числе корректные и реально используемые Участником адреса электронной 
	почты и поддерживать эту информацию в актуальном состоянии.</li>
	<li>Регулярно, не реже одного раза в неделю, загружать на сайт Einfo ассортимент предлагаемых им на рынке электронных комплектующих.</li>
	<li>В графе "Количество" указывать ненулевое количество товара только для тех позиций, которые присутствуют на складе участника. Складскими считаются комплектующие, принадлежащие участнику на 
	правах собственности, свободные от притязаний третьих лиц и доступные для немедленной отгрузки потребителю.</li>
	<li>Подтверждать факт получения запроса от Посетителей на дополнительную информацию о рекламируемых товарах путем перехода по ссылке указанной в уведомлении в срок не более 2 (двух) рабочих дней.</li>
	<li>Отправлять Посетителю запрашиваемую информацию о рекламируемых товарах посредством сообщения электронной почты или телефонной связи в срок не более 1(одного) рабочего дня с момента 
	подтверждения факта получения запроса.</li>
</ul>

<h3>Ответственность сторон</h3>
<ul>
	<li>За неисполнение или ненадлежащее исполнение Договора Стороны несут ответственность в соответствии с действующим законодательством РФ и условиями ПС.</li>
	<li>Einfo не несет ответственности за любые убытки, включая упущенную выгоду, причиненные Участнику в результате невозможности для Участника воспользоваться предоставленными ему Услугами, в том числе по вине Einfo.</li>
	<li> Einfo не несет ответственности за любые убытки, включая упущенную выгоду, возникшие по причине несанкционированного использования третьими лицами Идентификационных данных Участника, а также 
	несанкционированного доступа третьих лиц к Услугам Einfo.</li>
	<li>Einfo не несет ответственности за возможные противоправные действия Посетителя, в том числе за содержание сообщений в Заявке.</li>
	<li>Einfo не несет ответственности за убытки, возникшие вследствие любых ошибок, неточностей, опечаток в Материалах, размещенных на сайте, сбоя информационной системы, а также за любой ущерб, прямой 
	или косвенный, причиненный компьютеру, программному обеспечению и иному оборудованию Участника вследствие использования сайта или Материалов, размещенных на сайте, в том 
	числе перехода по ссылкам, размещенным в Материалах на сторонние ресурсы Сети.</li>
	<li>Einfo несет ответственность только за работоспособность сайта Einfo и предоставление Участнику доступа к информационным ресурсам; при этом практическая реализация этого доступа осуществляется по 
	усмотрению Участника и обеспечивается исключительно Участником и за его счет, включая (но не ограничиваясь) приобретением и обслуживанием программно-аппаратных средств для работы в сети Интернет.</li>
	<li>Einfo также не несет ответственности за любые убытки, включая упущенную выгоду, причиненные Участнику и (или) третьим лицам вследствие использования информационных ресурсов, полученных на сайте 
	Einfo, вне зависимости от того, были ли указанные ресурсы использованы в ходе осуществления предпринимательской деятельности либо в любых иных целях.</li>
	<li>По всем возможным нарушениям авторских прав Участник несет самостоятельную ответственность перед третьими лицами.</li>
	<li>Участник предупрежден и согласен с тем, что информация, размещаемая на сайте Einfo обрабатывается достаточно сложными алгоритмами, что предполагает возможные технические ошибки при размещении Материалов 
	Участника на сайте Einfo, и, как следствие - возможную недостоверность (неактуальность) отдельных данных (информации), размещенной на сайте Einfo и/или не размещение отдельных данных (информации) вовсе. Участник 
	согласен, что отдельные технические ошибки такого рода возникают не по вине Einfo и Einfo не несет за них ответственности.
	</li>
</ul>

<h3>Размер и порядок оплаты</h3>
<ul>
	<li>Оплата Услуг Einfo производится по безналичному расчету в размере 100% предоплаты. Перечень услуг и их стоимость указывается в Приложении.</li>
	<li>Стоимость Услуг указана в Российских рублях. Услуги не облагаются НДС в связи с применением Einfo упрощенной системы налогообложения.</li>
	<li>Цены (тарифы) на Услуги могут изменяться Einfo в одностороннем порядке при условии уведомления об этом Участника непосредственно на Сайте Einfo путем изменения содержания информации о ценах 
	(тарифах), (без специального отдельного объявления). Изменение цен (тарифов) на предоставление Услуг не влечет перерасчета стоимости за период, предварительно оплаченный Участником до уведомления об изменении цен.</li>
	<li>Оплата Услуг Einfo производится через уполномоченное рекламное агентство eFind.ru (ООО "Эт-Лайт") путем заключения с ним договора, либо приложения к действующему договору в случае если Участник пользуется 
	услугами ООО "Эт-Лайт". При этом данное ПС считается неотъемлемой частью договора.</li>
</ul>

<h3>Порядок предоставления бесплатных услуг</h3>
<ul>
	<li>Пакет бесплатных услуг предоставляется текущим участникам до 31 мая 2012 г.</li>
    <li>Предоставление безвозмездного доступа к сервису загрузки Материалов на сайте <a href="http://www.einfo.su">http://www.einfo.su</a> возможно в объеме и на условиях, прямо указанных в Приложении к ПС.</li>
	<li>Поскольку данные услуги предоставляются безвозмездно и не предполагают двусторонних обязательств, Einfo оставляет за собой право в одностороннем порядке  и без согласования с кем-либо: изменять состав, условия и 
	порядок предоставления таких услуг, либо устанавливать плату за доступ к ним, либо исключать их из перечня предоставляемых услуг вообще.</li>
</ul>

<h3>Реквизиты:</h3>

<ul>
    <li>ООО "ИТС "Электронные компоненты"</li>
    <li>Почтовый адрес: 107258, г. Москва, 1-я ул. Бухвостова, д. 12/11</li>
    <li>ИНН: 7718568480</li>
    <li>КПП: 771801001</li>
    <li>ОГРН: 1057749297341</li>
</ul>

<h3>Приложение: Перечень Услуг Einfo</h3>

<h4>Пакет платных услуг Einfo, стоимость пакета 2000 рублей в месяц.</h4>

<ul>
    <li>Загрузка прайс-листов</li>
	<li>Публикация официальных документов предприятия</li>
	<li>Приоритет в поисковой выдаче</li>
	<li>Онлайн XML импорт</li>
	<li>Публикация новостей</li>
	<li>Публикация вакансий</li>
	<li>Размещение баннеров в ротаторе. Данная услуга предоставляется только при условии наличия и на свободных от платной рекламы местах.</li>
	<li>Доступ к статистике поисковых запросов</li>
	<li>Участие в рейтинговом голосовании</li>
	<li>Лимит на загрузку товарных позиций - 200000 (двести тысяч) товаров</li>
</ul>

<h4>Пакет бесплатных услуг Einfo</h4>
<ul>
    <li>Загрузка прайс-листов через веб интерфейс</li>
	<li>Лимит на загрузку товарных позиций - 3000 (три тысячи) товаров</li>
</ul>

<h4>Условия предоставления пакета бесплатных услуг Einfo:</h4>
<ul>
	<li>Участник обязан иметь собственный сайт в сети Интернет</li>
	<li>Сайт Участника должен иметь не менее 10 (десяти) страниц в индексе поисковых систем Яндекс и Google</li>
	<li>Сайт Участника должен располагаться на домене 2-го уровня</li>
	<li>Участник обязан разместить следующий html код как минимум на главной странице своего сайта:<br>
	<table class="static_table">
        <tr>
            <td>
                <b>&lt;a href="https://www.einfo.ru"&gt;<br />&lt;img src="https://www.einfo.ru/img/einfo-88x31.gif" alt="Поиск электронных компонентов" width="88" height="31" border="0"&gt;<br />&lt;/a&gt;</b>
            </td>
        </tr>
    </table>

	</li>
	<li>Гипертекстовая ссылка, образующаяся на сайте участника вследствие размещения данного html кода, обязана быть индексируемой, не должна помещаться в контейнер &lt;noindex&gt;, не должна сопровождаться атрибутом 
	nofollow, должна быть видима посетителям сайта и индексирующим роботам поисковых систем.</li>
</ul>
