<h2>Пользовательское соглашение</h2>

<h3>Общие положения</h3>
Настоящее Пользовательское Соглашение (именуемое в дальнейшем ПС) заключается между ООО "ИТС" электронные компоненты" (именуемым в дальнейшем Einfo) и физическим или юридическим лицом (именуемым в дальнейшем 
Посетитель), согласно которому осуществляется использование информации и сервисов интернет-сайта с адресом: <a href="https://www.einfo.ru">https://www.einfo.ru</a> (именуемым в дальнейшем "сайт").
ПС вступает в силу с момента открытия в браузере Посетителя любой из страниц проекта Einfo, расположенных в сети в пространстве доменного имени einfo.ru. 
Einfo оставляет за собой право изменять данные условия без предварительного уведомления Посетителя. Новые условия вступают в силу с момента их размещения (опубликования) по 
адресу: <a href="https://www.einfo.ru/legal/">https://www.einfo.ru/legal/</a>.

<h3>Основные термины и понятия</h3>
<ul>
	<li>Участник - юридическое лицо, размещающее материалы на сайте на основании особого пользовательского соглашения, либо договора о оказании платных информационно-рекламных услуг.</li>
	<li>Материалы - любые прайс-листы, новости, статьи, тендеры, размещаемые на сайте Участником на платной и бесплатной основе.</li>
	<li>Заявка - автоматизированная отправка запроса от Посетителя Участнику на получение дополнительной информации о рекламируемых товарах.</li>
</ul>

<h3>Предмет соглашения</h3>
Einfo безвозмездно предоставляет Посетителю информационные услуги в области снабжения электронными компонентами на условиях, определенных соглашением.  

<h3>Дополнения</h3>
Некоторые разделы и сервисы сайта Einfo, предназначенные для Участников, могут иметь собственные правила пользования и требовать оплаты. Данные правила оформляются как отдельные пользовательские соглашения.

<h3>Права и обязанности Посетителя</h3>
<h4>Посетитель имеет право:</h4>
<ul>
	<li>Знакомиться с Материалами, размещаемыми на сайте.</li>
	<li>Использовать Материалы, размещенные на сайте, только в личных некоммерческих целях.</li>
	<li>Оформлять Заявку Участникам на получение дополнительной информации о рекламируемых товарах.</li>
</ul>

<h4>Посетитель обязан:</h4>
<ul>
    <li>Соблюдать условия Соглашения без каких-либо ограничений.</li>
	<li>При оформлении Заявки указывать правдивую, точную и полную информацию о себе и поддерживать эту информацию в актуальном состоянии.</li>
	<li>Не нарушать авторские и/или иные права и законные интересы Einfo и/или третьих лиц в процессе использования Материалов сайта.</li>
	<li>Не повторять и не копировать, не продавать и не перепродавать, а также не использовать и не воспроизводить для любых целей материалы, размещенные на сайте.</li>
	<li>Не использовать сервис Заявки для загрузки, отправки, передачи или любого другого способа размещения информации рекламного характера (в том числе ссылок на сайты, 
	указанных в целях рекламы), спама.</li>
</ul>	

<h3>Права Einfo</h3>

<h4>Einfo имеет право:</h4>
<ul>
	<li>В любой момент времени, без объяснения причин, отказать Посетителю в доступе на сайт любыми способами, включая, но не ограничиваясь, блокированием доступа к сайту с определенного IP адреса или 
	диапазона IP адресов.</li>
	<li>Осуществлять предварительную проверку и/или просмотр, помечать, выбирать, изменять, не допускать к размещению или убирать любой фрагмент или всю Заявку Посетителя целиком.</li>
	<li>Производить профилактические работы в программно-аппаратном комплексе сайта с временным приостановлением работы сайта.</li>
</ul>

<h3>Ответственность</h3>
<h4>Ответственность Посетителя:</h4>
<ul>
	<li>Нарушение при использовании сайта законодательства РФ, условий Соглашения, прав или законных интересов третьих лиц может повлечь наложение Einfo запрета на использование 
	сайта Посетителем, допустившим нарушение. Указанный запрет может быть осуществлен блокированием доступа к сайту с определенного IP адреса или диапазона IP адресов.</li>
	<li>Посетитель самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с размещением Заявки.</li>
	<li>По всем возможным нарушениям авторских прав Посетитель несет самостоятельную ответственность перед третьими лицами.</li>
</ul>

<h4>Ответственность Einfo:</h4>
<ul>
    <li>Einfo не возмещает убытки, возникшие у Посетителя или третьих лиц в результате использования или невозможности использования размещенных на сайте материалов.</li>
	<li>Einfo не несет ответственности за возможные противоправные действия Посетителя, в том числе за содержание сообщений в Заявке.</li>
	<li>Einfo не несет ответственности за убытки, возникшие вследствие любых ошибок, неточностей, опечаток в Материалах, размещенных на сайте, сбоя информационной системы, а также за любой ущерб, 
	прямой или косвенный, причиненный компьютеру, программному обеспечению и иному оборудованию Посетителя вследствие использования сайта или Материалов, размещенных на сайте, в том числе перехода
	по ссылкам, размещенным в Материалах на сторонние ресурсы Cети.</li>
</ul>

<h3>Материалы сайта:</h3>
<ul>
	<li>Настоящий сайт предназначен для использования его на условиях "AS IS" ("КАК ЕСТЬ"). Таким образом информация, опубликованная (размещенная) на настоящем сайте предоставляется посетителям 
	без гарантий со стороны Einfo в отношении официального характера такой информации, ее качества, пригодности такой информации для какой-либо цели, гарантий наступления предполагаемых событий. 
	</li>
	<li>Информация, опубликованная на данном сайте от имени Einfo и Участников носит ознакомительный характер и не предназначена для коммерческого, некоммерческого и иного использования, 
	в том числе использования в общественных целях.</li>
	<li>Опубликованные на сайте цены на товары Участников носят информационный (ознакомительный) характер и отражают ценовую политику компаний Участников, 
	но не могут быть использованы для коммерческих и иных подобных расчетов. </li>
	<li>Размещенные на сайте Материалы о продуктах компаний участников и их стоимости не являются публичной 
	офертой или предложением делать оферты по смыслу ст. 437 Гражданского кодекса Российской Федерации и не могут быть использованы для доказывания 
	обязанности заключить договор на условиях, содержащихся в таких Материалах.	
	</li>
</ul>

<h3>Политика конфиденциальности:</h3>
<ul>
	<li>Einfo обеспечивает соблюдение конфиденциальности информации о пользователях сайта www.einfo.ru, за исключением случаев, предусмотренных законодательством Российской Федерации.</li>
	<li>Персональные данные, введенные в форме Заявки, не используются Einfo в рекламных или иных целях и не передаются третьим лицам.</li>
	<li>Посетитель соглашается с тем, что персональные данные, введенные в форме Заявки, будут переданы Участнику для обеспечения дальнейшего контакта Участника с Посетителем 
	с целью получения Посетителем дополнительной информации о рекламируемых товарах.</li>
</ul>

<h3>Реквизиты:</h3>
<ul>
	<li>ООО "ИТС "Электронные компоненты"</li>
	<li>Почтовый адрес: 107258, г. Москва, 1-я ул. Бухвостова, д. 12/11</li>
	<li>ИНН: 7718568480</li>
	<li>КПП: 771801001</li>
	<li>ОГРН: 1057749297341</li>
</ul>