<script src="/media/js/swfobject.js" type="text/javascript" ></script>

<div id="stats_basket"></div>

<script type="text/javascript">

    var flashvars_basket = {
        settings_file: encodeURIComponent("/media/amcharts/stats_basket_settings.xml"),
        data_file: encodeURIComponent("/ajaxer.php?x=stats.basket")
    };
    swfobject.embedSWF("/media/amcharts/amline.swf", "stats_basket", "100%", "400", "9.0.0", false, flashvars_basket);

</script>

