<div id="telegram-promo">
    <h2>Ищите комплектующие через бота в telegram</h2>
    <div id="telegram-messages">
        <div style="text-align: right;">
            <div class="telegram-message green">
                Подключите бота по ссылке <a href="https://telegram.me/EinfoBot" target="_blank">telegram.me/EinfoBot</a>,<br>
                напишите в чате поисковый запрос и получите цены,<br>
                статусы наличия и контакты поставщиков.
            </div>
        </div>
        <div style="text-align: left;">
            <div class="telegram-message gray">
                Имя бота <a href="https://telegram.me/EinfoBot" target="_blank">@EinfoBot</a>
            </div>
        </div>
    </div>
    <div id="telegram-phone"></div>
</div>