.settings {	margin-bottom: 30px; }
.settings-params {
	background-color: #F5F5F5;
	border: 1px solid #B9B9B9;
}
.settings-header { margin-bottom: 3px; }
.settings-title {
	background-color: #EAEAEA;
	padding: 4px 15px 4px 15px;
	font: bold 14px Arial, Helvetica, sans-serif;
	display: inline;
	border: 1px solid #B9B9B9;
	border-bottom: none;
}

.set { background-color: #EAEAEA; text-align: right; }